intel-extension-for-transformers
intel_extension_for_pytorch==2.1.0
fschat
gradio==3.36.0
huggingface_hub
torch==2.1.0
accelerate
datasets
git+https://github.com/UKPLab/sentence-transformers.git@5c838a705c24c2dfd151a71674c99d09d014c1a9
chromadb==0.4.15
yacs
pydantic==1.10.13
pymysql
deepface
exifread
PyPDF2
python-docx
langid
beautifulsoup4
InstructorEmbedding
qdrant-client
unstructured