[tool.poetry]
name = "langchain-monorepo"
version = "0.0.1"
description = "LangChain mono-repo"
authors = []
license = "MIT"
readme = "README.md"
repository = "https://www.github.com/langchain-ai/langchain"


[tool.poetry.dependencies]
python = ">=3.9,<4.0"

[tool.poetry.group.docs.dependencies]
autodoc_pydantic = "^1"
sphinx = "^7"
myst-parser = "^3"
sphinx-autobuild = "^2021"
pydata-sphinx-theme = "^0.14"
toml = "^0.10.2"

[tool.poetry.group.lint.dependencies]
ruff = "^0.5.0"
langchain-core = { path = "libs/core/", develop = true }
langchain-text-splitters = { path = "libs/text-splitters", develop = true }
langchain-community = { path = "libs/community/", develop = true }
langchain = { path = "libs/langchain/", develop = true }
langchain-openai = { path = "libs/partners/openai", develop = true }

[tool.poetry.group.codespell.dependencies]
codespell = "^2.2.0"


[tool.poetry.group.dev.dependencies]
langchain-core = { path = "libs/core/", develop = true }
langchain-text-splitters = { path = "libs/text-splitters", develop = true }
langchain-community = { path = "libs/community/", develop = true }
langchain = { path = "libs/langchain/", develop = true }
langchain-openai = { path = "libs/partners/openai", develop = true }
ipykernel = "^6.29.2"

# Support Python 3.8 and 3.12+.
# Can be removed once the numpy version is fixed in langchain-community.
numpy = [
    { version = "^1.24.0", python = "<3.12" },
    { version = "^1.26.0", python = ">=3.12" },
]

[tool.poetry.group.test.dependencies]

[tool.poetry.group.test_integration.dependencies]

[tool.poetry.group.typing.dependencies]

[tool.codespell]
skip = '.git,*.pdf,*.svg,*.pdf,*.yaml,*.ipynb,poetry.lock,*.min.js,*.css,package-lock.json,example_data,_dist,examples,templates,*.trig'
# Ignore latin etc
ignore-regex = '.*(Stati Uniti|Tense=Pres).*'
# whats is a typo but used frequently in queries so kept as is
# aapply - async apply
# unsecure - typo but part of API, decided to not bother for now
ignore-words-list = 'momento,collison,ned,foor,reworkd,parth,whats,aapply,mysogyny,unsecure,damon,crate,aadd,symbl,precesses,accademia,nin,cann'

[tool.ruff]
extend-include = ["*.ipynb"]
extend-exclude = [
    "docs/docs/expression_language/why.ipynb", # TODO: look into why linter errors
]

[tool.ruff.lint.per-file-ignores]
"**/{cookbook,docs}/*" = [
    "E402", # allow imports to appear anywhere in docs
    "F401", # allow "imported but unused" example code
    "F811", # allow re-importing the same module, so that cells can stay independent
    "F841", # allow assignments to variables that are never read -- it's example code
]

# These files were failing the listed rules at the time ruff was adopted for notebooks.
# Don't require them to change at once, though we should look into them eventually.
"cookbook/gymnasium_agent_simulation.ipynb" = ["F821"]
"docs/docs/integrations/document_loaders/tensorflow_datasets.ipynb" = ["F821"]
