-r test_requirements.txt
# For integrations
cohere
elasticsearch
openai
google-search-results
nlpcloud
playwright
wikipedia
huggingface_hub
faiss
sentence_transformers
manifest-ml
# For development
jupyter
