-r test_requirements.txt
# For integrations
cohere
elasticsearch
openai
google-search-results
nlpcloud
playwright
wikipedia
huggingface_hub
faiss-cpu
sentence_transformers
transformers
manifest-ml
spacy
nltk
# For development
jupyter
