interactions:
- request:
    body: '{"api_key": "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", "query": "what is
      the weather in SF", "max_results": 2, "search_depth": "advanced", "include_domains":
      [], "exclude_domains": [], "include_answer": false, "include_raw_content": false,
      "include_images": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.tavily.com/search
  response:
    body:
      string: '{"query":"what is the weather in SF","follow_up_questions":null,"answer":null,"images":[],"results":[{"title":"Weather
        in San Francisco","url":"https://www.weatherapi.com/","content":"{''location'':
        {''name'': ''San Francisco'', ''region'': ''California'', ''country'': ''United
        States of America'', ''lat'': 37.78, ''lon'': -122.42, ''tz_id'': ''America/Los_Angeles'',
        ''localtime_epoch'': 1727297042, ''localtime'': ''2024-09-25 13:44''}, ''current'':
        {''last_updated_epoch'': 1727296200, ''last_updated'': ''2024-09-25 13:30'',
        ''temp_c'': 21.1, ''temp_f'': 70.0, ''is_day'': 1, ''condition'': {''text'':
        ''Partly cloudy'', ''icon'': ''//cdn.weatherapi.com/weather/64x64/day/116.png'',
        ''code'': 1003}, ''wind_mph'': 9.8, ''wind_kph'': 15.8, ''wind_degree'': 245,
        ''wind_dir'': ''WSW'', ''pressure_mb'': 1012.0, ''pressure_in'': 29.89, ''precip_mm'':
        0.0, ''precip_in'': 0.0, ''humidity'': 64, ''cloud'': 50, ''feelslike_c'':
        21.1, ''feelslike_f'': 70.0, ''windchill_c'': 15.3, ''windchill_f'': 59.6,
        ''heatindex_c'': 15.4, ''heatindex_f'': 59.8, ''dewpoint_c'': 13.7, ''dewpoint_f'':
        56.7, ''vis_km'': 16.0, ''vis_miles'': 9.0, ''uv'': 4.0, ''gust_mph'': 12.4,
        ''gust_kph'': 20.0}}","score":0.9934467,"raw_content":null},{"title":"San
        Francisco, CA Weather Forecast September 2024: Daily Highs/Lows ...","url":"https://www.weathertab.com/en/c/e/09/united-states/california/san-francisco/","content":"Temperature
        Forecast. Explore comprehensive September 2024 weather forecasts for San Francisco,
        including daily high and low temperatures, precipitation risks, and monthly
        temperature trends. Featuring detailed day-by-day forecasts, dynamic graphs
        of daily rain probabilities, and temperature trends to help you plan ahead.","score":0.987375,"raw_content":null}],"response_time":4.73}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
