interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.smith.langchain.com/info
  response:
    body:
      string: '{"version":"0.7.36","license_expiration_time":null,"batch_ingest_config":{"scale_up_qsize_trigger":1000,"scale_up_nthreads_limit":16,"scale_down_nempty_trigger":4,"size_limit":100,"size_limit_bytes":20971520},"instance_flags":{"generate_ai_query_enabled":true,"org_creation_disabled":false,"show_ttl_ui":true,"trace_tier_duration_days":{"longlived":400,"shortlived":14},"search_enabled":true,"workspace_scope_org_invites":false,"s3_storage_enabled":true}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.smith.langchain.com/commits/rlm/map-prompt/latest
  response:
    body:
      string: '{"commit_hash":"de4fba345f211a462584fc25b7077e69c1ba6cdcf4e21b7ec9abe457ddb16c87","manifest":{"id":["langchain","prompts","chat","ChatPromptTemplate"],"lc":1,"type":"constructor","kwargs":{"messages":[{"id":["langchain","prompts","chat","HumanMessagePromptTemplate"],"lc":1,"type":"constructor","kwargs":{"prompt":{"id":["langchain","prompts","prompt","PromptTemplate"],"lc":1,"type":"constructor","kwargs":{"template":"The
        following is a set of documents:\n{docs}\nBased on this list of docs, please
        identify the main themes \nHelpful Answer:","input_variables":["docs"],"template_format":"f-string"}}}}],"input_variables":["docs"]}},"examples":[]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
