aleph-alpha-client
aiosqlite
assemblyai
beautifulsoup4
bibtexparser
cassio
chardet
datasets
google-cloud-documentai
esprima
jq
pdfminer-six
pgvector
pypdf
pymupdf
pypdfium2
tqdm
lxml
atlassian-python-api
mwparserfromhell
mwxml
msal
pandas
telethon
psychicapi
gql
requests-toolbelt
html2text
numexpr
py-trello
scikit-learn
streamlit
pyspark
openai
sympy
rapidfuzz
jsonschema
openai
rank-bm25
geopandas
jinja2
gitpython
newspaper3k
feedparser
xata
xmltodict
faiss-cpu
openapi-pydantic==0.3.2
markdownify
arxiv
dashvector
sqlite-vss
rapidocr-onnxruntime
motor
timescale-vector==0.0.1
anthropic
upstash-redis
rspace_client
fireworks-ai
javelin-sdk>=0.1.8,<0.2
hologres-vector
praw
databricks-vectorsearch
couchbase
dgml-utils
cohere
langchain-openai
rdflib
pydantic>=1,<2