pre {
  white-space: break-spaces;
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 2560px !important;
  }
}

#my-component-root *,
#headlessui-portal-root * {
  z-index: 10000;
}

table.longtable code {
  white-space: normal;
}

table.longtable td {
  max-width: 600px;
}

.banner {
   background-color: #f0f0f0;
   color: #333;
   padding: 10px;
   text-align: center;
   font-weight: bold;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 1000;
}