pre {
  white-space: break-spaces;
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 2560px !important;
  }
}

#my-component-root *,
#headlessui-portal-root * {
  z-index: 10000;
}

table.longtable code {
  white-space: normal;
}

table.longtable td {
  max-width: 600px;
}

/* Banner Styles */
.banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffcc00;
    color: #000;
    text-align: center;
    padding: 5px 0;
    z-index: 1003; /* Highest z-index to sit above everything */
    height: 30px; /* Fixed height */
    line-height: 20px; /* Vertically center the text */
}

/* Navbar Styles */
#navbar {
    position: fixed;
    top: 30px; /* Positioned right below the banner */
    left: 0;
    right: 0;
    z-index: 1002; /* Below the banner */
    height: 50px; /* Fixed height */
}
