interactions:
- request:
    body: '{}'
    headers:
      Api-Key:
      - Api-Key-DUMMY
      Content-Type:
      - application/json
    method: POST
    uri: https://langchain-test-index-5d63712.svc.us-west4-gcp.pinecone.io/describe_index_stats
  response:
    body:
      string: '{"namespaces":{"langchain-test-collection":{"vectorCount":1}},"dimension":1536,"indexFullness":0,"totalVectorCount":1}'
    headers:
      content-type:
      - application/json
      grpc-status:
      - '0'
    status:
      code: 200
      message: OK
- request:
    body: '{"deleteAll": true, "namespace": "langchain-test-collection"}'
    headers:
      Api-Key:
      - Api-Key-DUMMY
      Content-Type:
      - application/json
    method: POST
    uri: https://langchain-test-index-5d63712.svc.us-west4-gcp.pinecone.io/vectors/delete
  response:
    body:
      string: '{}'
    headers:
      content-type:
      - application/json
      grpc-status:
      - '0'
    status:
      code: 200
      message: OK
version: 1
