########################################
############ Volcengine ARK ############
########################################

# API_KEY Application URL: https://www.volcengine.com/docs/82379/1298459
ARK_API_KEY=
## BASE_URL, Optional
ARK_API_BASE=

#  MODEL Link: https://console.volcengine.com/ark/
## Chat
ARK_CHAT_MODEL=
## Embeddings
ARK_EMBEDDING_MODEL=