interactions:
- request:
    body: '{"model": "mixedbread-ai/mxbai-rerank-large-v1", "query": "Moby-Dick",
      "input": ["Mockingbird", "Moby-Dick"], "rank_fields": null, "top_k": 3, "return_input":
      false}'
    headers:
      content-type:
      - application/json
      x-fern-language:
      - Python
    method: POST
    uri: https://api.mixedbread.ai/v1/reranking
  response:
    body:
      string: '{"usage":{"prompt_tokens":16,"total_tokens":16},"model":"mixedbread-ai/mxbai-rerank-large-v1","data":[{"index":1,"score":0.5703125,"object":"text_document"},{"index":0,"score":0.0034313202,"object":"text_document"}],"object":"list","top_k":3,"return_input":false}'
    headers:
      Content-Type:
      - application/json
      trace-id:
      - '00000000000000000000000000000000'
      x-correlation-id:
      - ac165d1d446d40f894b6d4ac4e3ff4a2
    status:
      code: 200
      message: OK
version: 1
