interactions:
- request:
    body: '{"model": "mixedbread-ai/mxbai-embed-large-v1", "input": ["foo bar"], "normalized":
      true, "encoding_format": "float", "truncation_strategy": "start", "dimensions":
      null, "prompt": null}'
    headers:
      content-type:
      - application/json
      x-fern-language:
      - Python
    method: POST
    uri: https://api.mixedbread.ai/v1/embeddings
  response:
    body:
      string: '{"usage":{"prompt_tokens":4,"total_tokens":4},"model":"mixedbread-ai/mxbai-embed-large-v1","data":[{"embedding":[0.0028476715,-0.013977051,-0.009185791,0.05319214,-0.046173096,-0.01725769,0.017471313,0.02078247,-0.017532349,0.01436615,0.06866455,0.007575989,0.013725281,0.004447937,0.017288208,0.01663208,-0.002450943,-0.00034928322,-0.04638672,-0.01524353,0.03378296,-0.037994385,-0.034942627,0.009925842,-0.017791748,0.027877808,0.013694763,0.03366089,0.057769775,0.061920166,-0.010322571,0.0035514832,0.032806396,-0.027236938,-0.008552551,-0.0060768127,0.014427185,0.02532959,-0.019805908,-0.04534912,0.013435[...]
