pre {
  white-space: break-spaces;
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 2560px !important;
  }
}

#my-component-root *, #headlessui-portal-root * {
  z-index: 10000;
}

.content-container p {
    margin: revert;
}