openapi: 3.0.3
servers:
  - url: https://api.spotify.com/v1
info:
  description: |
    You can use Spotify's Web API to discover music and podcasts, manage your Spotify library, control audio playback, and much more. Browse our available Web API endpoints using the sidebar at left, or via the navigation bar on top of this page on smaller screens.

    In order to make successful Web API requests your app will need a valid access token. One can be obtained through <a href="https://developer.spotify.com/documentation/general/guides/authorization-guide/">OAuth 2.0</a>.

    The base URI for all Web API requests is `https://api.spotify.com/v1`.

    Need help? See our <a href="https://developer.spotify.com/documentation/web-api/guides/">Web API guides</a> for more information, or visit the <a href="https://community.spotify.com/t5/Spotify-for-Developers/bd-p/Spotify_Developer">Spotify for Developers community forum</a> to ask questions and connect with other developers.
  termsOfService: https://developer.spotify.com/terms/
  title: Spotify Web API
  version: 1.0.0
  x-apisguru-categories:
    - media
  x-logo:
    url: https://logo-core.clearbit.com/spotify.com
  x-origin:
    - format: openapi
      url: https://developer.spotify.com/_data/documentation/web-api/reference/open-api-schema.yml
      version: "3.0"
  x-providerName: spotify.com
paths:
  /albums:
    get:
      description: |
        Get Spotify catalog information for multiple albums identified by their Spotify IDs.
      operationId: get-multiple-albums
      parameters:
        - $ref: "#/components/parameters/QueryAlbumIds"
        - $ref: "#/components/parameters/QueryMarket"
      responses:
        "200":
          $ref: "#/components/responses/ManyAlbums"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0: []
      summary: |
        Get Several Albums
      tags:
        - Albums
      x-spotify-docs-console-url: /console/get-several-albums/
      x-spotify-docs-endpoint-name: Get Multiple Albums
      x-spotify-policy-list:
        $ref: "#/components/x-spotify-policy/metadataPolicyList"
    x-spotify-docs-category: Albums
    x-spotify-docs-display-name: several-albums
  "/albums/{id}":
    get:
      description: |
        Get Spotify catalog information for a single album.
      operationId: get-an-album
      parameters:
        - $ref: "#/components/parameters/PathAlbumId"
        - $ref: "#/components/parameters/QueryMarket"
      responses:
        "200":
          $ref: "#/components/responses/OneAlbum"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0: []
      summary: |
        Get Album
      tags:
        - Albums
      x-spotify-docs-console-url: /console/get-album/?id=0sNOF9WDwhWunNAHPD3Baj
      x-spotify-docs-endpoint-name: Get an Album
      x-spotify-policy-list:
        $ref: "#/components/x-spotify-policy/metadataPolicyList"
    x-spotify-docs-category: Albums
    x-spotify-docs-display-name: album
  "/albums/{id}/tracks":
    get:
      description: |
        Get Spotify catalog information about an album’s tracks.
        Optional parameters can be used to limit the number of tracks returned.
      operationId: get-an-albums-tracks
      parameters:
        - $ref: "#/components/parameters/PathAlbumId"
        - $ref: "#/components/parameters/QueryMarket"
        - $ref: "#/components/parameters/QueryLimit"
        - $ref: "#/components/parameters/QueryOffset"
      responses:
        "200":
          $ref: "#/components/responses/PagingSimplifiedTrackObject"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0: []
      summary: |
        Get Album Tracks
      tags:
        - Albums
        - Tracks
      x-spotify-docs-console-url: /console/get-album-tracks/
      x-spotify-docs-endpoint-name: Get an Album's Tracks
      x-spotify-policy-list:
        $ref: "#/components/x-spotify-policy/metadataPolicyList"
    x-spotify-docs-category: Albums
    x-spotify-docs-display-name: album-tracks
  /artists:
    get:
      description: |
        Get Spotify catalog information for several artists based on their Spotify IDs.
      operationId: get-multiple-artists
      parameters:
        - in: query
          name: ids
          required: true
          schema:
            description: |
              A comma-separated list of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids) for the artists. Maximum: 50 IDs.
            example: 2CIMQHirSU0MQqyYHq0eOx,57dN52uHvrHOxijzpIgu3E,1vCWHaC5f2uS3yhpwWbIA6
            title: Spotify Artist IDs
            type: string
      responses:
        "200":
          $ref: "#/components/responses/ManyArtists"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0: []
      summary: |
        Get Several Artists
      tags:
        - Artists
      x-spotify-docs-console-url: /console/get-several-artists/?ids=0oSGxfWSnnOXhD2fKuz2Gy,3dBVyJ7JuOMt4GE9607Qin
      x-spotify-docs-endpoint-name: Get Multiple Artists
      x-spotify-policy-list:
        $ref: "#/components/x-spotify-policy/metadataPolicyList"
    x-spotify-docs-category: Artists
    x-spotify-docs-display-name: several-artists
  "/artists/{id}":
    get:
      description: |
        Get Spotify catalog information for a single artist identified by their unique Spotify ID.
      operationId: get-an-artist
      parameters:
        - $ref: "#/components/parameters/PathArtistId"
      responses:
        "200":
          $ref: "#/components/responses/OneArtist"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0: []
      summary: |
        Get Artist
      tags:
        - Artists
      x-spotify-docs-console-url: /console/get-artist/?id=0OdUWJ0sBjDrqHygGUXeCF
      x-spotify-docs-endpoint-name: Get an Artist
      x-spotify-policy-list:
        $ref: "#/components/x-spotify-policy/metadataPolicyList"
    x-spotify-docs-category: Artists
    x-spotify-docs-display-name: artist
  "/artists/{id}/albums":
    get:
      description: |
        Get Spotify catalog information about an artist's albums.
      operationId: get-an-artists-albums
      parameters:
        - $ref: "#/components/parameters/PathArtistId"
        - $ref: "#/components/parameters/QueryIncludeGroups"
        - $ref: "#/components/parameters/QueryMarket"
        - $ref: "#/components/parameters/QueryLimit"
        - $ref: "#/components/parameters/QueryOffset"
      responses:
        "200":
          $ref: "#/components/responses/PagingSimplifiedAlbumObject"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0: []
      summary: |
        Get Artist's Albums
      tags:
        - Artists
        - Albums
      x-spotify-docs-console-url: /console/get-artist-albums/?album_type=single&amp;limit=2&amp;market=ES&amp;id=1vCWHaC5f2uS3yhpwWbIA6
      x-spotify-docs-endpoint-name: Get an Artist's Albums
      x-spotify-policy-list:
        $ref: "#/components/x-spotify-policy/metadataPolicyList"
    x-spotify-docs-category: Artists
    x-spotify-docs-display-name: artist-albums
  "/artists/{id}/related-artists":
    get:
      description: |
        Get Spotify catalog information about artists similar to a given artist. Similarity is based on analysis of the Spotify community's [listening history](http://news.spotify.com/se/2010/02/03/related-artists/).
      operationId: get-an-artists-related-artists
      parameters:
        - $ref: "#/components/parameters/PathArtistId"
      responses:
        "200":
          $ref: "#/components/responses/ManyArtists"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0: []
      summary: |
        Get Artist's Related Artists
      tags:
        - Artists
      x-spotify-docs-console-url: /console/get-artist-related-artists/?id=43ZHCT0cAZBISjO8DG9PnE
      x-spotify-docs-endpoint-name: Get an Artist's Related Artists
      x-spotify-policy-list:
        $ref: "#/components/x-spotify-policy/metadataPolicyList"
    x-spotify-docs-category: Artists
    x-spotify-docs-display-name: artist-related-artists
  "/artists/{id}/top-tracks":
    get:
      description: |
        Get Spotify catalog information about an artist's top tracks by country.
      operationId: get-an-artists-top-tracks
      parameters:
        - $ref: "#/components/parameters/PathArtistId"
        - $ref: "#/components/parameters/QueryMarket"
      responses:
        "200":
          $ref: "#/components/responses/ManyTracks"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0: []
      summary: |
        Get Artist's Top Tracks
      tags:
        - Artists
        - Tracks
      x-spotify-docs-console-url: /console/get-artist-top-tracks/?country=SE&amp;id=43ZHCT0cAZBISjO8DG9PnE
      x-spotify-docs-endpoint-name: Get an Artist's Top Tracks
      x-spotify-policy-list:
        $ref: "#/components/x-spotify-policy/metadataPolicyList"
    x-spotify-docs-category: Artists
    x-spotify-docs-display-name: artist-top-tracks
  "/audio-analysis/{id}":
    get:
      description: |
        Get a low-level audio analysis for a track in the Spotify catalog. The audio analysis describes the track’s structure and musical content, including rhythm, pitch, and timbre.
      operationId: get-audio-analysis
      parameters:
        - in: path
          name: id
          required: true
          schema:
            description: |
              The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids)
              for the track.
            example: 11dFghVXANMlKmJXsNCbNl
            title: Spotify Track ID
            type: string
      responses:
        "200":
          $ref: "#/components/responses/OneAudioAnalysis"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0: []
      summary: |
        Get Track's Audio Analysis
      tags:
        - Tracks
      x-spotify-docs-console-url: /console/get-audio-analysis-track/?id=06AKEBrKUckW0KREUWRnvT
      x-spotify-docs-endpoint-name: Get Audio Analysis for a Track
    x-spotify-docs-category: Tracks
    x-spotify-docs-display-name: audio-analysis-track
  /audio-features:
    get:
      description: |
        Get audio features for multiple tracks based on their Spotify IDs.
      operationId: get-several-audio-features
      parameters:
        - in: query
          name: ids
          required: true
          schema:
            description: |
              A comma-separated list of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids)
              for the tracks. Maximum: 100 IDs.
            example: 7ouMYWpwJ422jRcDASZB7P,4VqPOruhp5EdPBeR92t6lQ,2takcwOaAZWiXQijPHIx7B
            title: Spotify Track IDs
            type: string
      responses:
        "200":
          $ref: "#/components/responses/ManyAudioFeatures"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0: []
      summary: |
        Get Tracks' Audio Features
      tags:
        - Tracks
      x-spotify-docs-console-url: /console/get-audio-features-several-tracks/?ids=4JpKVNYnVcJ8tuMKjAj50A,2NRANZE9UCmPAS5XVbXL40,24JygzOLM0EmRQeGtFcIcG
      x-spotify-docs-endpoint-name: Get Audio Features for Several Tracks
    x-spotify-docs-category: Tracks
    x-spotify-docs-display-name: audio-features-several-tracks
  "/audio-features/{id}":
    get:
      description: |
        Get audio feature information for a single track identified by its unique
        Spotify ID.
      operationId: get-audio-features
      parameters:
        - in: path
          name: id
          required: true
          schema:
            description: |
              The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) for the track.
            example: 11dFghVXANMlKmJXsNCbNl
            title: Spotify Track ID
            type: string
      responses:
        "200":
          $ref: "#/components/responses/OneAudioFeatures"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0: []
      summary: |
        Get Track's Audio Features
      tags:
        - Tracks
      x-spotify-docs-console-url: /console/get-audio-features-track/?id=06AKEBrKUckW0KREUWRnvT
      x-spotify-docs-endpoint-name: Get Audio Features for a Track
    x-spotify-docs-category: Tracks
    x-spotify-docs-display-name: audio-features-track
  /audiobooks:
    get:
      description: |
        Get Spotify catalog information for several audiobooks identified by their Spotify IDs.<br />
        **Note: Audiobooks are only available for the US, UK, Ireland, New Zealand and Australia markets.**
      operationId: get-multiple-audiobooks
      parameters:
        - $ref: "#/components/parameters/QueryAudiobookIds"
        - $ref: "#/components/parameters/QueryMarket"
      responses:
        "200":
          $ref: "#/components/responses/ManyAudiobooks"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0: []
      summary: |
        Get Several Audiobooks
      tags:
        - Audiobooks
      x-spotify-docs-console-url: /console/get-several-audiobooks/?ids=5thw29eqjomhIDMY1XKsLk,2IEBhnu61ieYGFRPEJIO40
      x-spotify-docs-endpoint-name: Get Several Audiobooks
      x-spotify-policy-list:
        $ref: "#/components/x-spotify-policy/metadataPolicyList"
    x-spotify-docs-category: Audiobooks
    x-spotify-docs-display-name: several-audiobooks
  "/audiobooks/{id}":
    get:
      description: |
        Get Spotify catalog information for a single audiobook.<br />
        **Note: Audiobooks are only available for the US, UK, Ireland, New Zealand and Australia markets.**
      operationId: get-an-audiobook
      parameters:
        - $ref: "#/components/parameters/PathAudiobookId"
        - $ref: "#/components/parameters/QueryMarket"
      responses:
        "200":
          $ref: "#/components/responses/OneAudiobook"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0: []
      summary: |
        Get an Audiobook
      tags:
        - Audiobooks
      x-spotify-docs-console-url: /console/get-audiobook/?id=5thw29eqjomhIDMY1XKsLk
      x-spotify-docs-endpoint-name: Get an Audiobook
      x-spotify-policy-list:
        $ref: "#/components/x-spotify-policy/metadataPolicyList"
    x-spotify-docs-category: Audiobooks
    x-spotify-docs-display-name: audiobook
  "/audiobooks/{id}/chapters":
    get:
      description: |
        Get Spotify catalog information about an audiobook's chapters.<br />
        **Note: Audiobooks are only available for the US, UK, Ireland, New Zealand and Australia markets.**
      operationId: get-audiobook-chapters
      parameters:
        - $ref: "#/components/parameters/PathAudiobookId"
        - $ref: "#/components/parameters/QueryMarket"
        - $ref: "#/components/parameters/QueryLimit"
        - $ref: "#/components/parameters/QueryOffset"
      responses:
        "200":
          $ref: "#/components/responses/PagingSimplifiedChapterObject"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0: []
      summary: |
        Get Audiobook Chapters
      tags:
        - Audiobooks
        - Chapters
      x-spotify-docs-console-url: /console/get-audiobook-chapters/?id=5thw29eqjomhIDMY1XKsLk
      x-spotify-docs-endpoint-name: Get an Audiobook's Chapters
      x-spotify-policy-list:
        $ref: "#/components/x-spotify-policy/metadataPolicyList"
    x-spotify-docs-category: Audiobooks
    x-spotify-docs-display-name: audiobook-chapters
  /browse/categories:
    get:
      description: |
        Get a list of categories used to tag items in Spotify (on, for example, the Spotify player’s “Browse” tab).
      operationId: get-categories
      parameters:
        - in: query
          name: country
          required: false
          schema:
            description: |
              A country: an [ISO 3166-1 alpha-2 country code](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2). Provide this parameter if you want to narrow the list of returned categories to those relevant to a particular country. If omitted, the returned items will be globally relevant.
            example: SE
            title: Country
            type: string
        - in: query
          name: locale
          required: false
          schema:
            description: |
              The desired language, consisting of an [ISO 639-1](http://en.wikipedia.org/wiki/ISO_639-1) language code and an [ISO 3166-1 alpha-2 country code](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2), joined by an underscore. For example: `es_MX`, meaning "Spanish (Mexico)". Provide this parameter if you want the category metadata returned in a particular language. <br/>
              _**Note**: if `locale` is not supplied, or if the specified language is not available, all strings will be returned in the Spotify default language (American English). The `locale` parameter, combined with the `country` parameter, may give odd results if not carefully matched. For example `country=SE&locale=de_DE` will return a list of categories relevant to Sweden but as German language strings._
            example: sv_SE
            title: Locale
            type: string
        - $ref: "#/components/parameters/QueryLimit"
        - $ref: "#/components/parameters/QueryOffset"
      responses:
        "200":
          $ref: "#/components/responses/PagedCategories"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0: []
      summary: |
        Get Several Browse Categories
      tags:
        - Categories
      x-spotify-docs-console-url: /console/get-browse-categories/
      x-spotify-docs-endpoint-name: Get All Categories
    x-spotify-docs-category: Browse
    x-spotify-docs-display-name: browse-categories
  "/browse/categories/{category_id}":
    get:
      description: |
        Get a single category used to tag items in Spotify (on, for example, the Spotify player’s “Browse” tab).
      operationId: get-a-category
      parameters:
        - in: path
          name: category_id
          required: true
          schema:
            description: |
              The [Spotify category ID](/documentation/web-api/concepts/spotify-uris-ids) for the category.
            example: dinner
            title: Category ID
            type: string
        - in: query
          name: country
          required: false
          schema:
            description: |
              A country: an [ISO 3166-1 alpha-2 country code](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2). Provide this parameter to ensure that the category exists for a particular country.
            example: SE
            title: Country
            type: string
        - in: query
          name: locale
          required: false
          schema:
            description: |
              The desired language, consisting of an [ISO 639-1](http://en.wikipedia.org/wiki/ISO_639-1) language code and an [ISO 3166-1 alpha-2 country code](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2), joined by an underscore. For example: `es_MX`, meaning &quot;Spanish (Mexico)&quot;. Provide this parameter if you want the category strings returned in a particular language.<br/> _**Note**: if `locale` is not supplied, or if the specified language is not available, the category strings returned will be in the Spotify default language (American English)._
            example: sv_SE
            title: Locale
            type: string
      responses:
        "200":
          $ref: "#/components/responses/OneCategory"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0: []
      summary: |
        Get Single Browse Category
      tags:
        - Categories
      x-spotify-docs-console-url: /console/get-browse-category/
      x-spotify-docs-endpoint-name: Get a Category
    x-spotify-docs-category: Browse
    x-spotify-docs-display-name: browse-category
  "/browse/categories/{category_id}/playlists":
    get:
      description: |
        Get a list of Spotify playlists tagged with a particular category.
      operationId: get-a-categories-playlists
      parameters:
        - in: path
          name: category_id
          required: true
          schema:
            description: |
              The [Spotify category ID](/documentation/web-api/concepts/spotify-uris-ids) for the category.
            example: dinner
            title: Category ID
            type: string
        - in: query
          name: country
          required: false
          schema:
            description: |
              A country: an [ISO 3166-1 alpha-2 country code](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2). Provide this parameter to ensure that the category exists for a particular country.
            example: SE
            title: Country
            type: string
        - $ref: "#/components/parameters/QueryLimit"
        - $ref: "#/components/parameters/QueryOffset"
      responses:
        "200":
          $ref: "#/components/responses/PagedFeaturedPlaylists"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0: []
      summary: |
        Get Category's Playlists
      tags:
        - Playlists
        - Categories
      x-spotify-docs-console-url: /console/get-category-playlists/?country=BR&amp;category_id=party&amp;limit=2
      x-spotify-docs-endpoint-name: Get a Category's Playlists
    x-spotify-docs-category: Browse
    x-spotify-docs-display-name: category-playlists
  /browse/featured-playlists:
    get:
      description: |
        Get a list of Spotify featured playlists (shown, for example, on a Spotify player's 'Browse' tab).
      operationId: get-featured-playlists
      parameters:
        - in: query
          name: country
          required: false
          schema:
            description: |
              A country: an [ISO 3166-1 alpha-2 country code](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2). Provide this parameter if you want the list of returned items to be relevant to a particular country. If omitted, the returned items will be relevant to all countries.
            example: SE
            title: Country
            type: string
        - in: query
          name: locale
          required: false
          schema:
            description: |
              The desired language, consisting of a lowercase [ISO 639-1 language code](http://en.wikipedia.org/wiki/ISO_639-1) and an uppercase [ISO 3166-1 alpha-2 country code](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2), joined by an underscore. For example: `es_MX`, meaning "Spanish (Mexico)". Provide this parameter if you want the results returned in a particular language (where available). <br/>
              _**Note**: if `locale` is not supplied, or if the specified language is not available, all strings will be returned in the Spotify default language (American English). The `locale` parameter, combined with the `country` parameter, may give odd results if not carefully matched. For example `country=SE&locale=de_DE` will return a list of categories relevant to Sweden but as German language strings._
            example: sv_SE
            title: Locale
            type: string
        - in: query
          name: timestamp
          required: false
          schema:
            description: |
              A timestamp in [ISO 8601 format](http://en.wikipedia.org/wiki/ISO_8601): `yyyy-MM-ddTHH:mm:ss`. Use this parameter to specify the user's local time to get results tailored for that specific date and time in the day. If not provided, the response defaults to the current UTC time. Example: "2014-10-23T09:00:00" for a user whose local time is 9AM. If there were no featured playlists (or there is no data) at the specified time, the response will revert to the current UTC time.
            example: 2014-10-23T09:00:00
            title: Timestamp
            type: string
        - $ref: "#/components/parameters/QueryLimit"
        - $ref: "#/components/parameters/QueryOffset"
      responses:
        "200":
          $ref: "#/components/responses/PagedFeaturedPlaylists"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0: []
      summary: |
        Get Featured Playlists
      tags:
        - Playlists
      x-spotify-docs-console-url: /console/get-featured-playlists/?country=SE&amp;limit=2
      x-spotify-docs-endpoint-name: Get All Featured Playlists
      x-spotify-policy-list:
        - $ref: "#/components/x-spotify-policy/MultipleIntegrations"
    x-spotify-docs-category: Browse
    x-spotify-docs-display-name: featured-playlists
  /browse/new-releases:
    get:
      description: |
        Get a list of new album releases featured in Spotify (shown, for example, on a Spotify player’s “Browse” tab).
      operationId: get-new-releases
      parameters:
        - in: query
          name: country
          required: false
          schema:
            description: |
              A country: an [ISO 3166-1 alpha-2 country code](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2). Provide this parameter if you want the list of returned items to be relevant to a particular country. If omitted, the returned items will be relevant to all countries.
            example: SE
            title: Country
            type: string
        - $ref: "#/components/parameters/QueryLimit"
        - $ref: "#/components/parameters/QueryOffset"
      responses:
        "200":
          $ref: "#/components/responses/PagedAlbums"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0: []
      summary: |
        Get New Releases
      tags:
        - Albums
      x-spotify-docs-console-url: /console/get-new-releases/?country=SE
      x-spotify-docs-endpoint-name: Get All New Releases
      x-spotify-policy-list:
        - $ref: "#/components/x-spotify-policy/MultipleIntegrations"
    x-spotify-docs-category: Browse
    x-spotify-docs-display-name: new-releases
  /chapters:
    get:
      description: |
        Get Spotify catalog information for several chapters identified by their Spotify IDs.<br />
        **Note: Chapters are only available for the US, UK, Ireland, New Zealand and Australia markets.**
      operationId: get-several-chapters
      parameters:
        - $ref: "#/components/parameters/QueryChapterIds"
        - $ref: "#/components/parameters/QueryMarket"
      responses:
        "200":
          $ref: "#/components/responses/ManyChapters"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0: []
      summary: |
        Get Several Chapters
      tags:
        - Chapters
      x-spotify-docs-console-url: /console/get-several-chapters/?ids=2i47HuOBSV2XaJNy0NCZXM,2GUbORsUnP1qVVlLwd9DzP
      x-spotify-docs-endpoint-name: Get Several Chapters
      x-spotify-policy-list:
        $ref: "#/components/x-spotify-policy/metadataPolicyList"
    x-spotify-docs-category: Chapters
    x-spotify-docs-display-name: several-chapters
  "/chapters/{id}":
    get:
      description: |
        Get Spotify catalog information for a single chapter.<br />
        **Note: Chapters are only available for the US, UK, Ireland, New Zealand and Australia markets.**
      operationId: get-a-chapter
      parameters:
        - $ref: "#/components/parameters/PathChapterId"
        - $ref: "#/components/parameters/QueryMarket"
      responses:
        "200":
          $ref: "#/components/responses/OneChapter"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0: []
      summary: |
        Get a Chapter
      tags:
        - Chapters
      x-spotify-docs-console-url: /console/get-chapter/?id=2i47HuOBSV2XaJNy0NCZXM
      x-spotify-docs-endpoint-name: Get a Chapter
      x-spotify-policy-list:
        $ref: "#/components/x-spotify-policy/metadataPolicyList"
    x-spotify-docs-category: Chapters
    x-spotify-docs-display-name: chapters
  /episodes:
    get:
      description: |
        Get Spotify catalog information for several episodes based on their Spotify IDs.
      operationId: get-multiple-episodes
      parameters:
        - in: query
          name: ids
          required: true
          schema:
            description: |
              A comma-separated list of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids) for the episodes. Maximum: 50 IDs.
            example: 77o6BIVlYM3msb4MMIL1jH,0Q86acNRm6V9GYx55SXKwf
            title: Ids
            type: string
        - $ref: "#/components/parameters/QueryMarket"
      responses:
        "200":
          $ref: "#/components/responses/ManyEpisodes"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0:
            - user-read-playback-position
      summary: |
        Get Several Episodes
      tags:
        - Episodes
      x-spotify-docs-console-url: /console/get-several-episodes/?ids=77o6BIVlYM3msb4MMIL1jH,0Q86acNRm6V9GYx55SXKwf
      x-spotify-docs-endpoint-name: Get Multiple Episodes
      x-spotify-policy-list:
        $ref: "#/components/x-spotify-policy/metadataPolicyList"
    x-spotify-docs-category: Episodes
    x-spotify-docs-display-name: several-episodes
  "/episodes/{id}":
    get:
      description: |
        Get Spotify catalog information for a single episode identified by its
        unique Spotify ID.
      operationId: get-an-episode
      parameters:
        - in: path
          name: id
          required: true
          schema:
            description: The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) for the episode.
            example: 512ojhOuo1ktJprKbVcKyQ
            title: Get an Episode
            type: string
        - $ref: "#/components/parameters/QueryMarket"
      responses:
        "200":
          $ref: "#/components/responses/OneEpisode"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0:
            - user-read-playback-position
      summary: |
        Get Episode
      tags:
        - Episodes
      x-spotify-docs-console-url: /console/get-episode/?id=512ojhOuo1ktJprKbVcKyQ
      x-spotify-docs-endpoint-name: Get an Episode
      x-spotify-policy-list:
        $ref: "#/components/x-spotify-policy/metadataPolicyList"
    x-spotify-docs-category: Episodes
    x-spotify-docs-display-name: episode
  /markets:
    get:
      description: |
        Get the list of markets where Spotify is available.
      operationId: get-available-markets
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  markets:
                    example:
                      - CA
                      - BR
                      - IT
                    items:
                      type: string
                    type: array
                type: object
          description: A markets object with an array of country codes
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0: []
      summary: |
        Get Available Markets
      tags:
        - Markets
      x-spotify-docs-console-url: /console/get-available-markets/
      x-spotify-docs-endpoint-name: Get Available Markets
    x-spotify-docs-category: Markets
    x-spotify-docs-display-name: available-markets
  /me:
    get:
      description: |
        Get detailed profile information about the current user (including the
        current user's username).
      operationId: get-current-users-profile
      responses:
        "200":
          $ref: "#/components/responses/OnePrivateUser"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0:
            - user-read-private
            - user-read-email
      summary: |
        Get Current User's Profile
      tags:
        - Users
      x-spotify-docs-console-url: /console/get-current-user/
      x-spotify-docs-endpoint-name: Get Current User's Profile
    x-spotify-docs-category: Users Profile
    x-spotify-docs-display-name: current-user
  /me/albums:
    delete:
      description: |
        Remove one or more albums from the current user's 'Your Music' library.
      operationId: remove-albums-user
      parameters:
        - $ref: "#/components/parameters/QueryAlbumIds"
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties: true
              properties:
                ids:
                  description: |
                    A JSON array of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids). For example: `["4iV5W9uYEdYUVa79Axb7Rh", "1301WleyT98MSxVHPZCA6M"]`<br/>A maximum of 50 items can be specified in one request. _**Note**: if the `ids` parameter is present in the query string, any IDs listed here in the body will be ignored._
                  items:
                    type: string
                  type: array
              type: object
      responses:
        "200":
          description: Album(s) have been removed from the library
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0:
            - user-library-modify
      summary: |
        Remove Users' Saved Albums
      tags:
        - Albums
        - Library
      x-spotify-docs-console-url: /console/delete-current-user-saved-albums/?ids=07bYtmE3bPsLB6ZbmmFi8d%2C48JYNjh7GMie6NjqYHMmtT%2C27cZdqrQiKt3IT00338dws
      x-spotify-docs-endpoint-name: Remove Albums for Current User
    get:
      description: |
        Get a list of the albums saved in the current Spotify user's 'Your Music' library.
      operationId: get-users-saved-albums
      parameters:
        - $ref: "#/components/parameters/QueryLimit"
        - $ref: "#/components/parameters/QueryOffset"
        - $ref: "#/components/parameters/QueryMarket"
      responses:
        "200":
          $ref: "#/components/responses/PagingSavedAlbumObject"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0:
            - user-library-read
      summary: |
        Get User's Saved Albums
      tags:
        - Albums
        - Library
      x-spotify-docs-console-url: /console/get-current-user-saved-albums/?limit=1
      x-spotify-docs-endpoint-name: Get User's Saved Albums
    put:
      description: |
        Save one or more albums to the current user's 'Your Music' library.
      operationId: save-albums-user
      parameters:
        - $ref: "#/components/parameters/QueryAlbumIds"
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties: true
              properties:
                ids:
                  description: |
                    A JSON array of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids). For example: `["4iV5W9uYEdYUVa79Axb7Rh", "1301WleyT98MSxVHPZCA6M"]`<br/>A maximum of 50 items can be specified in one request. _**Note**: if the `ids` parameter is present in the query string, any IDs listed here in the body will be ignored._
                  items:
                    type: string
                  type: array
              type: object
      responses:
        "200":
          description: The album is saved
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0:
            - user-library-modify
      summary: |
        Save Albums for Current User
      tags:
        - Albums
        - Library
      x-spotify-docs-console-url: /console/put-current-user-saved-albums/?ids=07bYtmE3bPsLB6ZbmmFi8d%2C48JYNjh7GMie6NjqYHMmtT%2C27cZdqrQiKt3IT00338dws
      x-spotify-docs-endpoint-name: Save Albums for Current User
    x-spotify-docs-category: Library
    x-spotify-docs-display-name: current-user-saved-albums
  /me/albums/contains:
    get:
      description: |
        Check if one or more albums is already saved in the current Spotify user's 'Your Music' library.
      operationId: check-users-saved-albums
      parameters:
        - $ref: "#/components/parameters/QueryAlbumIds"
      responses:
        "200":
          $ref: "#/components/responses/ArrayOfBooleans"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0:
            - user-library-read
      summary: |
        Check User's Saved Albums
      tags:
        - Albums
        - Library
      x-spotify-docs-console-url: /console/get-current-user-contains-saved-albums/?ids=0pJJgBzj26qnE1nSQUxaB0%2C5ZAKzV4ZIa5Gt7z29OYHv0
      x-spotify-docs-endpoint-name: Check User's Saved Albums
    x-spotify-docs-category: Library
    x-spotify-docs-display-name: current-user-contains-saved-albums
  /me/audiobooks:
    delete:
      description: |
        Remove one or more audiobooks from the Spotify user's library.
      operationId: remove-audiobooks-user
      parameters:
        - $ref: "#/components/parameters/QueryAudiobookIds"
      responses:
        "200":
          description: Audiobook(s) have been removed from the library
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0:
            - user-library-modify
      summary: |
        Remove User's Saved Audiobooks
      tags:
        - Audiobooks
        - Library
      x-spotify-docs-console-url: /console/delete-current-user-saved-audiobooks/?ids=07bYtmE3bPsLB6ZbmmFi8d%2C48JYNjh7GMie6NjqYHMmtT%2C27cZdqrQiKt3IT00338dws
      x-spotify-docs-endpoint-name: Remove Audiobooks for Current User
    get:
      description: |
        Get a list of the audiobooks saved in the current Spotify user's 'Your Music' library.
      operationId: get-users-saved-audiobooks
      parameters:
        - $ref: "#/components/parameters/QueryLimit"
        - $ref: "#/components/parameters/QueryOffset"
      responses:
        "200":
          $ref: "#/components/responses/PagingSimplifiedAudiobookObject"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0:
            - user-library-read
      summary: |
        Get User's Saved Audiobooks
      tags:
        - Audiobooks
        - Library
      x-spotify-docs-console-url: /console/get-current-user-saved-audiobooks/?limit=1
      x-spotify-docs-endpoint-name: Get User's Saved Audiobooks
    put:
      description: |
        Save one or more audiobooks to the current Spotify user's library.
      operationId: save-audiobooks-user
      parameters:
        - $ref: "#/components/parameters/QueryAudiobookIds"
      responses:
        "200":
          description: Audiobook(s) are saved to the library
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0:
            - user-library-modify
      summary: |
        Save Audiobooks for Current User
      tags:
        - Audiobooks
        - Library
      x-spotify-docs-console-url: /console/put-current-user-saved-audiobooks/?ids=07bYtmE3bPsLB6ZbmmFi8d%2C48JYNjh7GMie6NjqYHMmtT%2C27cZdqrQiKt3IT00338dws
      x-spotify-docs-endpoint-name: Save Audiobooks for Current User
    x-spotify-docs-category: Library
    x-spotify-docs-display-name: current-user-saved-audiobooks
  /me/audiobooks/contains:
    get:
      description: |
        Check if one or more audiobooks are already saved in the current Spotify user's library.
      operationId: check-users-saved-audiobooks
      parameters:
        - $ref: "#/components/parameters/QueryAudiobookIds"
      responses:
        "200":
          $ref: "#/components/responses/ArrayOfBooleans"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0:
            - user-library-read
      summary: |
        Check User's Saved Audiobooks
      tags:
        - Audiobooks
        - Library
      x-spotify-docs-console-url: /console/get-current-user-contains-saved-audiobooks/?ids=0pJJgBzj26qnE1nSQUxaB0%2C5ZAKzV4ZIa5Gt7z29OYHv0
      x-spotify-docs-endpoint-name: Check User's Saved Audiobooks
    x-spotify-docs-category: Library
    x-spotify-docs-display-name: current-user-contains-saved-audiobooks
  /me/episodes:
    delete:
      description: |
        Remove one or more episodes from the current user's library.<br/>
        This API endpoint is in __beta__ and could change without warning. Please share any feedback that you have, or issues that you discover, in our [developer community forum](https://community.spotify.com/t5/Spotify-for-Developers/bd-p/Spotify_Developer).
      operationId: remove-episodes-user
      parameters:
        - $ref: "#/components/parameters/QueryTrackIds"
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties: true
              properties:
                ids:
                  description: |
                    A JSON array of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids). <br/>A maximum of 50 items can be specified in one request. _**Note**: if the `ids` parameter is present in the query string, any IDs listed here in the body will be ignored._
                  items:
                    type: string
                  type: array
              type: object
      responses:
        "200":
          description: Episode removed
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0:
            - user-library-modify
      summary: |
        Remove User's Saved Episodes
      tags:
        - Episodes
        - Library
      x-spotify-docs-console-url: /console/delete-current-user-saved-episodes/?ids=77o6BIVlYM3msb4MMIL1jH%2C0Q86acNRm6V9GYx55SXKwf
      x-spotify-docs-endpoint-name: Remove User's Saved Episodes
    get:
      description: |
        Get a list of the episodes saved in the current Spotify user's library.<br/>
        This API endpoint is in __beta__ and could change without warning. Please share any feedback that you have, or issues that you discover, in our [developer community forum](https://community.spotify.com/t5/Spotify-for-Developers/bd-p/Spotify_Developer).
      operationId: get-users-saved-episodes
      parameters:
        - $ref: "#/components/parameters/QueryMarket"
        - $ref: "#/components/parameters/QueryLimit"
        - $ref: "#/components/parameters/QueryOffset"
      responses:
        "200":
          $ref: "#/components/responses/PagingSavedEpisodeObject"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0:
            - user-library-read
            - user-read-playback-position
      summary: |
        Get User's Saved Episodes
      tags:
        - Episodes
        - Library
      x-spotify-docs-console-url: /console/get-current-user-saved-episodes/
      x-spotify-docs-endpoint-name: Get User's Saved Episodes
    put:
      description: |
        Save one or more episodes to the current user's library.<br/>
        This API endpoint is in __beta__ and could change without warning. Please share any feedback that you have, or issues that you discover, in our [developer community forum](https://community.spotify.com/t5/Spotify-for-Developers/bd-p/Spotify_Developer).
      operationId: save-episodes-user
      parameters:
        - in: query
          name: ids
          required: true
          schema:
            description: |
              A comma-separated list of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids). Maximum: 50 IDs.
            example: 77o6BIVlYM3msb4MMIL1jH,0Q86acNRm6V9GYx55SXKwf
            title: Spotify Episodes IDs
            type: string
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties: true
              properties:
                ids:
                  description: |
                    A JSON array of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids). <br/>A maximum of 50 items can be specified in one request. _**Note**: if the `ids` parameter is present in the query string, any IDs listed here in the body will be ignored._
                  items:
                    type: string
                  type: array
              required:
                - uris
              type: object
      responses:
        "200":
          description: Episode saved
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0:
            - user-library-modify
      summary: |
        Save Episodes for Current User
      tags:
        - Episodes
        - Library
      x-spotify-docs-console-url: /console/put-current-user-saved-episodes/?ids=77o6BIVlYM3msb4MMIL1jH%2C0Q86acNRm6V9GYx55SXKwf
      x-spotify-docs-endpoint-name: Save Episodes for Current User
    x-spotify-docs-category: Library
    x-spotify-docs-display-name: current-user-saved-episodes
  /me/episodes/contains:
    get:
      description: |
        Check if one or more episodes is already saved in the current Spotify user's 'Your Episodes' library.<br/>
        This API endpoint is in __beta__ and could change without warning. Please share any feedback that you have, or issues that you discover, in our [developer community forum](https://community.spotify.com/t5/Spotify-for-Developers/bd-p/Spotify_Developer)..
      operationId: check-users-saved-episodes
      parameters:
        - in: query
          name: ids
          required: true
          schema:
            description: |
              A comma-separated list of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids) for the episodes. Maximum: 50 IDs.
            example: 77o6BIVlYM3msb4MMIL1jH,0Q86acNRm6V9GYx55SXKwf
            title: Spotify Episode IDs
            type: string
      responses:
        "200":
          $ref: "#/components/responses/ArrayOfBooleans"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0:
            - user-library-read
      summary: |
        Check User's Saved Episodes
      tags:
        - Episodes
        - Library
      x-spotify-docs-console-url: /console/get-current-user-contains-saved-episodes/?ids=77o6BIVlYM3msb4MMIL1jH%2C0Q86acNRm6V9GYx55SXKwf
      x-spotify-docs-endpoint-name: Check User's Saved Episodes
    x-spotify-docs-category: Library
    x-spotify-docs-display-name: current-user-contains-saved-episodes
  /me/following:
    delete:
      description: |
        Remove the current user as a follower of one or more artists or other Spotify users.
      operationId: unfollow-artists-users
      parameters:
        - in: query
          name: type
          required: true
          schema:
            description: |
              The ID type: either `artist` or `user`.
            enum:
              - artist
              - user
            example: artist
            title: Item Type
            type: string
        - in: query
          name: ids
          required: true
          schema:
            description: |
              A comma-separated list of the artist or the user [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids). For example: `ids=74ASZWbe4lXaubB36ztrGX,08td7MxkoHQkXnWAYD8d6Q`. A maximum of 50 IDs can be sent in one request.
            example: 2CIMQHirSU0MQqyYHq0eOx,57dN52uHvrHOxijzpIgu3E,1vCWHaC5f2uS3yhpwWbIA6
            title: Spotify IDs
            type: string
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties: true
              properties:
                ids:
                  description: |
                    A JSON array of the artist or user [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids). For example: `{ids:["74ASZWbe4lXaubB36ztrGX", "08td7MxkoHQkXnWAYD8d6Q"]}`. A maximum of 50 IDs can be sent in one request. _**Note**: if the `ids` parameter is present in the query string, any IDs listed here in the body will be ignored._
                  items:
                    type: string
                  type: array
              type: object
      responses:
        "200":
          description: Artist or user unfollowed
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0:
            - user-follow-modify
      summary: |
        Unfollow Artists or Users
      tags:
        - Users
        - Artists
        - Library
      x-spotify-docs-console-url: /console/delete-following/?type=user&amp;ids=exampleuser01
      x-spotify-docs-endpoint-name: Unfollow Artists or Users
    get:
      description: |
        Get the current user's followed artists.
      operationId: get-followed
      parameters:
        - in: query
          name: type
          required: true
          schema:
            description: |
              The ID type: currently only `artist` is supported.
            enum:
              - artist
            example: artist
            title: Item Type
            type: string
        - in: query
          name: after
          required: false
          schema:
            description: |
              The last artist ID retrieved from the previous request.
            example: 0I2XqVXqHScXjHhk6AYYRe
            title: After
            type: string
        - in: query
          name: limit
          required: false
          schema:
            default: 20
            description: |
              The maximum number of items to return. Default: 20\. Minimum: 1\. Maximum: 50\.
            example: 10
            maximum: 50
            minimum: 0
            title: Limit
            type: integer
      responses:
        "200":
          $ref: "#/components/responses/CursorPagedArtists"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0:
            - user-follow-read
      summary: |
        Get Followed Artists
      tags:
        - Users
        - Library
        - Artists
      x-spotify-docs-console-url: /console/get-following/?type=artist&amp;limit=20
      x-spotify-docs-endpoint-name: Get User's Followed Artists
    put:
      description: |
        Add the current user as a follower of one or more artists or other Spotify users.
      operationId: follow-artists-users
      parameters:
        - in: query
          name: type
          required: true
          schema:
            description: |
              The ID type.
            enum:
              - artist
              - user
            example: artist
            title: Item Type
            type: string
        - in: query
          name: ids
          required: true
          schema:
            description: |
              A comma-separated list of the artist or the user [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids).
              A maximum of 50 IDs can be sent in one request.
            example: 2CIMQHirSU0MQqyYHq0eOx,57dN52uHvrHOxijzpIgu3E,1vCWHaC5f2uS3yhpwWbIA6
            title: Spotify IDs
            type: string
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties: true
              properties:
                ids:
                  description: |
                    A JSON array of the artist or user [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids).
                    For example: `{ids:["74ASZWbe4lXaubB36ztrGX", "08td7MxkoHQkXnWAYD8d6Q"]}`. A maximum of 50 IDs can be sent in one request. _**Note**: if the `ids` parameter is present in the query string, any IDs listed here in the body will be ignored._
                  items:
                    type: string
                  type: array
              required:
                - ids
              type: object
      responses:
        "204":
          description: Artist or user followed
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0:
            - user-follow-modify
      summary: |
        Follow Artists or Users
      tags:
        - Users
        - Artists
        - Library
      x-spotify-docs-console-url: /console/put-following/?type=user&amp;ids=exampleuser01
      x-spotify-docs-endpoint-name: Follow Artists or Users
    x-spotify-docs-category: Follow
    x-spotify-docs-display-name: following
  /me/following/contains:
    get:
      description: |
        Check to see if the current user is following one or more artists or other Spotify users.
      operationId: check-current-user-follows
      parameters:
        - in: query
          name: type
          required: true
          schema:
            description: |
              The ID type: either `artist` or `user`.
            enum:
              - artist
              - user
            example: artist
            title: Item Type
            type: string
        - in: query
          name: ids
          required: true
          schema:
            description: |
              A comma-separated list of the artist or the user [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids) to check. For example: `ids=74ASZWbe4lXaubB36ztrGX,08td7MxkoHQkXnWAYD8d6Q`. A maximum of 50 IDs can be sent in one request.
            example: 2CIMQHirSU0MQqyYHq0eOx,57dN52uHvrHOxijzpIgu3E,1vCWHaC5f2uS3yhpwWbIA6
            title: Spotify IDs
            type: string
      responses:
        "200":
          $ref: "#/components/responses/ArrayOfBooleans"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0:
            - user-follow-read
      summary: |
        Check If User Follows Artists or Users
      tags:
        - Users
        - Artists
        - Library
      x-spotify-docs-console-url: /console/get-following-contains/?type=user&amp;ids=exampleuser01
      x-spotify-docs-endpoint-name: Get Following State for Artists/Users
    x-spotify-docs-category: Follow
    x-spotify-docs-display-name: following-contains
  /me/player:
    get:
      description: |
        Get information about the user’s current playback state, including track or episode, progress, and active device.
      operationId: get-information-about-the-users-current-playback
      parameters:
        - $ref: "#/components/parameters/QueryMarket"
        - $ref: "#/components/parameters/QueryAdditionalTypes"
      responses:
        "200":
          $ref: "#/components/responses/OneCurrentlyPlaying"
        "204":
          description: Playback not available or active
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0:
            - user-read-playback-state
      summary: |
        Get Playback State
      tags:
        - Player
      x-spotify-docs-console-url: /console/get-user-player/
      x-spotify-docs-endpoint-name: Get Information About The User's Current Playback
      x-spotify-policy-list:
        $ref: "#/components/x-spotify-policy/playerPolicyList"
    put:
      description: |
        Transfer playback to a new device and determine if it should start playing.
      operationId: transfer-a-users-playback
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties: true
              example:
                device_ids:
                  - 74ASZWbe4lXaubB36ztrGX
              properties:
                device_ids:
                  description: |
                    A JSON array containing the ID of the device on which playback should be started/transferred.<br/>For example:`{device_ids:["74ASZWbe4lXaubB36ztrGX"]}`<br/>_**Note**: Although an array is accepted, only a single device_id is currently supported. Supplying more than one will return `400 Bad Request`_
                  items:
                    type: string
                  type: array
                play:
                  additionalProperties: true
                  description: |
                    **true**: ensure playback happens on new device.<br/>**false** or not provided: keep the current playback state.
                  type: boolean
              required:
                - device_ids
              type: object
      responses:
        "204":
          description: Playback transferred
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0:
            - user-modify-playback-state
      summary: |
        Transfer Playback
      tags:
        - Player
      x-spotify-docs-console-url: /console/put-user-player
      x-spotify-docs-endpoint-name: Transfer a User's Playback
      x-spotify-policy-list:
        $ref: "#/components/x-spotify-policy/playerPolicyList"
    x-spotify-docs-category: Player
    x-spotify-docs-display-name: user-player
  /me/player/currently-playing:
    get:
      description: |
        Get the object currently being played on the user's Spotify account.
      operationId: get-the-users-currently-playing-track
      parameters:
        - $ref: "#/components/parameters/QueryMarket"
        - $ref: "#/components/parameters/QueryAdditionalTypes"
      responses:
        "200":
          $ref: "#/components/responses/OneCurrentlyPlayingTrack"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0:
            - user-read-currently-playing
      summary: |
        Get Currently Playing Track
      tags:
        - Player
      x-spotify-docs-console-url: /console/get-users-currently-playing-track/
      x-spotify-docs-endpoint-name: Get the User's Currently Playing Track
      x-spotify-policy-list:
        $ref: "#/components/x-spotify-policy/playerPolicyList"
    x-spotify-docs-category: Player
    x-spotify-docs-display-name: users-currently-playing-track
  /me/player/devices:
    get:
      description: |
        Get information about a user’s available devices.
      operationId: get-a-users-available-devices
      responses:
        "200":
          $ref: "#/components/responses/ManyDevices"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0:
            - user-read-playback-state
      summary: |
        Get Available Devices
      tags:
        - Player
      x-spotify-docs-console-url: /console/get-users-available-devices/
      x-spotify-docs-endpoint-name: Get a User's Available Devices
    x-spotify-docs-category: Player
    x-spotify-docs-display-name: users-available-devices
  /me/player/next:
    post:
      description: |
        Skips to next track in the user’s queue.
      operationId: skip-users-playback-to-next-track
      parameters:
        - in: query
          name: device_id
          required: false
          schema:
            description: The id of the device this command is targeting. If not supplied, the user's currently active device is the target.
            example: 0d1841b0976bae2a3a310dd74c0f3df354899bc8
            title: Device ID
            type: string
      responses:
        "204":
          description: Command sent
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0:
            - user-modify-playback-state
      summary: |
        Skip To Next
      tags:
        - Player
      x-spotify-docs-console-url: /console/post-next/
      x-spotify-docs-endpoint-name: Skip User’s Playback To Next Track
      x-spotify-policy-list:
        $ref: "#/components/x-spotify-policy/playerPolicyList"
    x-spotify-docs-category: Player
    x-spotify-docs-display-name: next
  /me/player/pause:
    put:
      description: |
        Pause playback on the user's account.
      operationId: pause-a-users-playback
      parameters:
        - in: query
          name: device_id
          required: false
          schema:
            description: |
              The id of the device this command is targeting. If not supplied, the user's currently active device is the target.
            example: 0d1841b0976bae2a3a310dd74c0f3df354899bc8
            title: Device ID
            type: string
      responses:
        "204":
          description: Playback paused
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0:
            - user-modify-playback-state
      summary: |
        Pause Playback
      tags:
        - Player
      x-spotify-docs-console-url: /console/put-pause/
      x-spotify-docs-endpoint-name: Pause a User's Playback
      x-spotify-policy-list:
        $ref: "#/components/x-spotify-policy/playerPolicyList"
    x-spotify-docs-category: Player
    x-spotify-docs-display-name: pause
  /me/player/play:
    put:
      description: |
        Start a new context or resume current playback on the user's active device.
      operationId: start-a-users-playback
      parameters:
        - in: query
          name: device_id
          required: false
          schema:
            description: The id of the device this command is targeting. If not supplied, the user's currently active device is the target.
            example: 0d1841b0976bae2a3a310dd74c0f3df354899bc8
            title: Device ID
            type: string
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties: true
              example:
                context_uri: spotify:album:5ht7ItJgpBH7W6vJ5BqpPr
                offset:
                  position: 5
                position_ms: 0
              properties:
                context_uri:
                  additionalProperties: true
                  description: |
                    Optional. Spotify URI of the context to play.
                    Valid contexts are albums, artists & playlists.
                    `{context_uri:"spotify:album:1Je1IMUlBXcx1Fz0WE7oPT"}`
                  type: string
                offset:
                  additionalProperties: true
                  description: |
                    Optional. Indicates from where in the context playback should start. Only available when context_uri corresponds to an album or playlist object
                    "position" is zero based and can’t be negative. Example: `"offset": {"position": 5}`
                    "uri" is a string representing the uri of the item to start at. Example: `"offset": {"uri": "spotify:track:1301WleyT98MSxVHPZCA6M"}`
                  type: object
                position_ms:
                  additionalProperties: true
                  description: integer
                  type: integer
                uris:
                  description: |
                    Optional. A JSON array of the Spotify track URIs to play.
                    For example: `{"uris": ["spotify:track:4iV5W9uYEdYUVa79Axb7Rh", "spotify:track:1301WleyT98MSxVHPZCA6M"]}`
                  items:
                    type: string
                  type: array
              type: object
      responses:
        "204":
          description: Playback started
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0:
            - user-modify-playback-state
      summary: |
        Start/Resume Playback
      tags:
        - Player
      x-spotify-docs-console-url: /console/put-play/
      x-spotify-docs-endpoint-name: Start/Resume a User's Playback
      x-spotify-policy-list:
        $ref: "#/components/x-spotify-policy/playerPolicyList"
    x-spotify-docs-category: Player
    x-spotify-docs-display-name: play
  /me/player/previous:
    post:
      description: |
        Skips to previous track in the user’s queue.
      operationId: skip-users-playback-to-previous-track
      parameters:
        - in: query
          name: device_id
          required: false
          schema:
            description: |
              The id of the device this command is targeting. If
              not supplied, the user's currently active device is the target.
            example: 0d1841b0976bae2a3a310dd74c0f3df354899bc8
            title: Device ID
            type: string
      responses:
        "204":
          description: Command sent
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0:
            - user-modify-playback-state
      summary: |
        Skip To Previous
      tags:
        - Player
      x-spotify-docs-console-url: /console/post-previous/
      x-spotify-docs-endpoint-name: Skip User’s Playback To Previous Track
      x-spotify-policy-list:
        $ref: "#/components/x-spotify-policy/playerPolicyList"
    x-spotify-docs-category: Player
    x-spotify-docs-display-name: previous
  /me/player/queue:
    get:
      description: |
        Get the list of objects that make up the user's queue.
      operationId: get-queue
      responses:
        "200":
          $ref: "#/components/responses/Queue"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0:
            - user-read-playback-state
      summary: |
        Get the User's Queue
      tags:
        - Player
      x-spotify-docs-console-url: /console/get-queue/
      x-spotify-docs-endpoint-name: Get the User's Queue
      x-spotify-policy-list:
        $ref: "#/components/x-spotify-policy/playerPolicyList"
    post:
      description: |
        Add an item to the end of the user's current playback queue.
      operationId: add-to-queue
      parameters:
        - in: query
          name: uri
          required: true
          schema:
            description: |
              The uri of the item to add to the queue. Must be a track or an episode uri.
            example: spotify:track:4iV5W9uYEdYUVa79Axb7Rh
            title: Spotify URI
            type: string
        - in: query
          name: device_id
          required: false
          schema:
            description: |
              The id of the device this command is targeting. If
              not supplied, the user's currently active device is the target.
            example: 0d1841b0976bae2a3a310dd74c0f3df354899bc8
            title: Device ID
            type: string
      responses:
        "204":
          description: Command received
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0:
            - user-modify-playback-state
      summary: |
        Add Item to Playback Queue
      tags:
        - Player
      x-spotify-docs-console-url: /console/post-queue/
      x-spotify-docs-endpoint-name: Add an item to queue
      x-spotify-policy-list:
        $ref: "#/components/x-spotify-policy/playerPolicyList"
    x-spotify-docs-category: Player
    x-spotify-docs-display-name: queue
  /me/player/recently-played:
    get:
      description: |
        Get tracks from the current user's recently played tracks.
        _**Note**: Currently doesn't support podcast episodes._
      operationId: get-recently-played
      parameters:
        - in: query
          name: limit
          required: false
          schema:
            default: 20
            description: |
              The maximum number of items to return. Default: 20. Minimum: 1. Maximum: 50.
            example: 10
            maximum: 50
            minimum: 0
            title: Limit
            type: integer
        - in: query
          name: after
          required: false
          schema:
            description: |
              A Unix timestamp in milliseconds. Returns all items
              after (but not including) this cursor position. If `after` is specified, `before`
              must not be specified.
            example: 1484811043508
            title: After
            type: integer
        - in: query
          name: before
          required: false
          schema:
            description: |
              A Unix timestamp in milliseconds. Returns all items
              before (but not including) this cursor position. If `before` is specified,
              `after` must not be specified.
            title: Before
            type: integer
      responses:
        "200":
          $ref: "#/components/responses/CursorPagedPlayHistory"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0:
            - user-read-recently-played
      summary: |
        Get Recently Played Tracks
      tags:
        - Player
      x-spotify-docs-console-url: /console/get-recently-played/
      x-spotify-docs-endpoint-name: Get Current User's Recently Played Tracks
      x-spotify-policy-list:
        $ref: "#/components/x-spotify-policy/playerPolicyList"
    x-spotify-docs-category: Player
    x-spotify-docs-display-name: recently-played
  /me/player/repeat:
    put:
      description: |
        Set the repeat mode for the user's playback. Options are repeat-track,
        repeat-context, and off.
      operationId: set-repeat-mode-on-users-playback
      parameters:
        - in: query
          name: state
          required: true
          schema:
            description: |
              **track**, **context** or **off**.<br/>
              **track** will repeat the current track.<br/>
              **context** will repeat the current context.<br/>
              **off** will turn repeat off.
            example: context
            title: State
            type: string
        - in: query
          name: device_id
          required: false
          schema:
            description: |
              The id of the device this command is targeting. If
              not supplied, the user's currently active device is the target.
            example: 0d1841b0976bae2a3a310dd74c0f3df354899bc8
            title: Device ID
            type: string
      responses:
        "204":
          description: Command sent
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0:
            - user-modify-playback-state
      summary: |
        Set Repeat Mode
      tags:
        - Player
      x-spotify-docs-console-url: /console/put-repeat/
      x-spotify-docs-endpoint-name: Set Repeat Mode On User’s Playback
    x-spotify-docs-category: Player
    x-spotify-docs-display-name: repeat
  /me/player/seek:
    put:
      description: |
        Seeks to the given position in the user’s currently playing track.
      operationId: seek-to-position-in-currently-playing-track
      parameters:
        - in: query
          name: position_ms
          required: true
          schema:
            description: |
              The position in milliseconds to seek to. Must be a
              positive number. Passing in a position that is greater than the length of
              the track will cause the player to start playing the next song.
            example: 25000
            title: Position (ms)
            type: integer
        - in: query
          name: device_id
          required: false
          schema:
            description: |
              The id of the device this command is targeting. If
              not supplied, the user's currently active device is the target.
            example: 0d1841b0976bae2a3a310dd74c0f3df354899bc8
            title: Device ID
            type: string
      responses:
        "204":
          description: Command sent
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0:
            - user-modify-playback-state
      summary: |
        Seek To Position
      tags:
        - Player
      x-spotify-docs-console-url: /console/put-seek/
      x-spotify-docs-endpoint-name: Seek To Position In Currently Playing Track
      x-spotify-policy-list:
        $ref: "#/components/x-spotify-policy/playerPolicyList"
    x-spotify-docs-category: Player
    x-spotify-docs-display-name: seek
  /me/player/shuffle:
    put:
      description: |
        Toggle shuffle on or off for user’s playback.
      operationId: toggle-shuffle-for-users-playback
      parameters:
        - in: query
          name: state
          required: true
          schema:
            description: |
              **true** : Shuffle user's playback.<br/>
              **false** : Do not shuffle user's playback.
            example: true
            title: State
            type: boolean
        - in: query
          name: device_id
          required: false
          schema:
            description: |
              The id of the device this command is targeting. If
              not supplied, the user's currently active device is the target.
            example: 0d1841b0976bae2a3a310dd74c0f3df354899bc8
            title: Device ID
            type: string
      responses:
        "204":
          description: Command sent
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0:
            - user-modify-playback-state
      summary: |
        Toggle Playback Shuffle
      tags:
        - Player
      x-spotify-docs-console-url: /console/put-shuffle/?state=true
      x-spotify-docs-endpoint-name: Toggle Shuffle For User’s Playback
    x-spotify-docs-category: Player
    x-spotify-docs-display-name: shuffle
  /me/player/volume:
    put:
      description: |
        Set the volume for the user’s current playback device.
      operationId: set-volume-for-users-playback
      parameters:
        - in: query
          name: volume_percent
          required: true
          schema:
            description: |
              The volume to set. Must be a value from 0 to 100 inclusive.
            example: 50
            title: Volume %
            type: integer
        - in: query
          name: device_id
          required: false
          schema:
            description: |
              The id of the device this command is targeting. If not supplied, the user's currently active device is the target.
            example: 0d1841b0976bae2a3a310dd74c0f3df354899bc8
            title: Device ID
            type: string
      responses:
        "204":
          description: Command sent
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0:
            - user-modify-playback-state
      summary: |
        Set Playback Volume
      tags:
        - Player
      x-spotify-docs-console-url: /console/put-volume/
      x-spotify-docs-endpoint-name: Set Volume For User's Playback
    x-spotify-docs-category: Player
    x-spotify-docs-display-name: volume
  /me/playlists:
    get:
      description: |
        Get a list of the playlists owned or followed by the current Spotify
        user.
      operationId: get-a-list-of-current-users-playlists
      parameters:
        - $ref: "#/components/parameters/QueryLimit"
        - in: query
          name: offset
          required: false
          schema:
            default: 0
            description: |
              'The index of the first playlist to return. Default:
              0 (the first object). Maximum offset: 100.000\. Use with `limit` to get the
              next set of playlists.'
            example: 5
            title: Offset
            type: integer
      responses:
        "200":
          $ref: "#/components/responses/PagedPlaylists"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0:
            - playlist-read-private
      summary: |
        Get Current User's Playlists
      tags:
        - Playlists
        - Library
      x-spotify-docs-console-url: /console/get-current-user-playlists/
      x-spotify-docs-endpoint-name: Get a List of Current User's Playlists
    x-spotify-docs-category: Playlists
    x-spotify-docs-display-name: current-user-playlists
  /me/shows:
    delete:
      description: |
        Delete one or more shows from current Spotify user's library.
      operationId: remove-shows-user
      parameters:
        - $ref: "#/components/parameters/QueryShowIds"
        - $ref: "#/components/parameters/QueryMarket"
      responses:
        "200":
          description: Show removed
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0:
            - user-library-modify
      summary: |
        Remove User's Saved Shows
      tags:
        - Shows
        - Library
      x-spotify-docs-console-url: /console/delete-current-user-saved-shows/?ids=5AvwZVawapvyhJUIx71pdJ%2C6ups0LMt1G8n81XLlkbsPo%2C5AvwZVawapvyhJUIx71pdJ
      x-spotify-docs-endpoint-name: Remove User's Saved Shows
    get:
      description: |
        Get a list of shows saved in the current Spotify user's library. Optional parameters can be used to limit the number of shows returned.
      operationId: get-users-saved-shows
      parameters:
        - $ref: "#/components/parameters/QueryLimit"
        - $ref: "#/components/parameters/QueryOffset"
      responses:
        "200":
          $ref: "#/components/responses/PagingSavedShowObject"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0:
            - user-library-read
      summary: |
        Get User's Saved Shows
      tags:
        - Shows
        - Library
      x-spotify-docs-console-url: /console/get-current-user-saved-shows/
      x-spotify-docs-endpoint-name: Get User's Saved Shows
    put:
      description: |
        Save one or more shows to current Spotify user's library.
      operationId: save-shows-user
      parameters:
        - $ref: "#/components/parameters/QueryShowIds"
      responses:
        "200":
          description: Show saved
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0:
            - user-library-modify
      summary: |
        Save Shows for Current User
      tags:
        - Shows
        - Library
      x-spotify-docs-console-url: /console/put-current-user-saved-shows/?ids=5AvwZVawapvyhJUIx71pdJ%2C6ups0LMt1G8n81XLlkbsPo%2C5AvwZVawapvyhJUIx71pdJ
      x-spotify-docs-endpoint-name: Save Shows for Current User
    x-spotify-docs-category: Library
    x-spotify-docs-display-name: current-user-saved-shows
  /me/shows/contains:
    get:
      description: |
        Check if one or more shows is already saved in the current Spotify user's library.
      operationId: check-users-saved-shows
      parameters:
        - $ref: "#/components/parameters/QueryShowIds"
      responses:
        "200":
          $ref: "#/components/responses/ArrayOfBooleans"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0:
            - user-library-read
      summary: |
        Check User's Saved Shows
      tags:
        - Shows
        - Library
      x-spotify-docs-console-url: /console/get-current-user-contains-saved-shows/?ids=5AvwZVawapvyhJUIx71pdJ%2C6ups0LMt1G8n81XLlkbsPo%2C5AvwZVawapvyhJUIx71pdJ
      x-spotify-docs-endpoint-name: Check User's Saved Shows
    x-spotify-docs-category: Library
    x-spotify-docs-display-name: current-user-contains-saved-shows
  "/me/top/{type}":
    get:
      description: |
        Get the current user's top artists or tracks based on calculated affinity.
      operationId: get-users-top-artists-and-tracks
      parameters:
        - in: path
          name: type
          required: true
          schema:
            description: |
              The type of entity to return. Valid values: `artists` or `tracks`
            enum:
              - artists
              - tracks
            title: Type
            type: string
        - in: query
          name: time_range
          required: false
          schema:
            default: medium_term
            description: |
              Over what time frame the affinities are computed. Valid values: `long_term` (calculated from several years of data and including all new data as it becomes available), `medium_term` (approximately last 6 months), `short_term` (approximately last 4 weeks). Default: `medium_term`
            example: medium_term
            title: Time Range
            type: string
        - $ref: "#/components/parameters/QueryLimit"
        - $ref: "#/components/parameters/QueryOffset"
      responses:
        "200":
          $ref: "#/components/responses/PagingArtistOrTrackObject"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0:
            - user-top-read
      summary: |
        Get User's Top Items
      tags:
        - Users
        - Tracks
        - Library
      x-spotify-docs-console-url: /console/get-current-user-top-artists-and-tracks/?type=artists
      x-spotify-docs-endpoint-name: Get a User's Top Artists and Tracks
    x-spotify-docs-category: Personalization
    x-spotify-docs-display-name: current-user-top-artists-and-tracks
  /me/tracks:
    delete:
      description: |
        Remove one or more tracks from the current user's 'Your Music' library.
      operationId: remove-tracks-user
      parameters:
        - $ref: "#/components/parameters/QueryTrackIds"
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties: true
              properties:
                ids:
                  description: |
                    A JSON array of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids). For example: `["4iV5W9uYEdYUVa79Axb7Rh", "1301WleyT98MSxVHPZCA6M"]`<br/>A maximum of 50 items can be specified in one request. _**Note**: if the `ids` parameter is present in the query string, any IDs listed here in the body will be ignored._
                  items:
                    type: string
                  type: array
              type: object
      responses:
        "200":
          description: Track removed
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0:
            - user-library-modify
      summary: |
        Remove User's Saved Tracks
      tags:
        - Tracks
        - Library
      x-spotify-docs-console-url: /console/delete-current-user-saved-tracks/?ids=7ouMYWpwJ422jRcDASZB7P%2C4VqPOruhp5EdPBeR92t6lQ%2C2takcwOaAZWiXQijPHIx7B
      x-spotify-docs-endpoint-name: Remove User's Saved Tracks
    get:
      description: |
        Get a list of the songs saved in the current Spotify user's 'Your Music' library.
      operationId: get-users-saved-tracks
      parameters:
        - $ref: "#/components/parameters/QueryMarket"
        - $ref: "#/components/parameters/QueryLimit"
        - $ref: "#/components/parameters/QueryOffset"
      responses:
        "200":
          $ref: "#/components/responses/PagingSavedTrackObject"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0:
            - user-library-read
      summary: |
        Get User's Saved Tracks
      tags:
        - Tracks
        - Library
      x-spotify-docs-console-url: /console/get-current-user-saved-tracks/
      x-spotify-docs-endpoint-name: Get User's Saved Tracks
    put:
      description: |
        Save one or more tracks to the current user's 'Your Music' library.
      operationId: save-tracks-user
      parameters:
        - $ref: "#/components/parameters/QueryTrackIds"
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties: true
              properties:
                ids:
                  description: |
                    A JSON array of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids). For example: `["4iV5W9uYEdYUVa79Axb7Rh", "1301WleyT98MSxVHPZCA6M"]`<br/>A maximum of 50 items can be specified in one request. _**Note**: if the `ids` parameter is present in the query string, any IDs listed here in the body will be ignored._
                  items:
                    type: string
                  type: array
              required:
                - uris
              type: object
      responses:
        "200":
          description: Track saved
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0:
            - user-library-modify
      summary: |
        Save Tracks for Current User
      tags:
        - Tracks
        - Library
      x-spotify-docs-console-url: /console/put-current-user-saved-tracks/?ids=7ouMYWpwJ422jRcDASZB7P%2C4VqPOruhp5EdPBeR92t6lQ%2C2takcwOaAZWiXQijPHIx7B
      x-spotify-docs-endpoint-name: Save Tracks for User
    x-spotify-docs-category: Library
    x-spotify-docs-display-name: current-user-saved-tracks
  /me/tracks/contains:
    get:
      description: |
        Check if one or more tracks is already saved in the current Spotify user's 'Your Music' library.
      operationId: check-users-saved-tracks
      parameters:
        - $ref: "#/components/parameters/QueryTrackIds"
      responses:
        "200":
          $ref: "#/components/responses/ArrayOfBooleans"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0:
            - user-library-read
      summary: |
        Check User's Saved Tracks
      tags:
        - Tracks
        - Library
      x-spotify-docs-console-url: /console/get-current-user-contains-saved-tracks/?ids=0udZHhCi7p1YzMlvI4fXoK%2C3SF5puV5eb6bgRSxBeMOk9
      x-spotify-docs-endpoint-name: Check User's Saved Tracks
    x-spotify-docs-category: Library
    x-spotify-docs-display-name: current-user-contains-saved-tracks
  "/playlists/{playlist_id}":
    get:
      description: |
        Get a playlist owned by a Spotify user.
      operationId: get-playlist
      parameters:
        - $ref: "#/components/parameters/PathPlaylistId"
        - $ref: "#/components/parameters/QueryMarket"
        - in: query
          name: fields
          required: false
          schema:
            description: |
              Filters for the query: a comma-separated list of the
              fields to return. If omitted, all fields are returned. For example, to get
              just the playlist''s description and URI: `fields=description,uri`. A dot
              separator can be used to specify non-reoccurring fields, while parentheses
              can be used to specify reoccurring fields within objects. For example, to
              get just the added date and user ID of the adder: `fields=tracks.items(added_at,added_by.id)`.
              Use multiple parentheses to drill down into nested objects, for example: `fields=tracks.items(track(name,href,album(name,href)))`.
              Fields can be excluded by prefixing them with an exclamation mark, for example:
              `fields=tracks.items(track(name,href,album(!name,href)))`
            example: items(added_by.id,track(name,href,album(name,href)))
            title: Fields
            type: string
        - $ref: "#/components/parameters/QueryAdditionalTypes"
      responses:
        "200":
          $ref: "#/components/responses/OnePlaylist"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0: []
      summary: |
        Get Playlist
      tags:
        - Playlists
      x-spotify-docs-console-url: /console/get-playlist/?playlist_id=59ZbFPES4DQwEjBpWHzrtC&amp;user_id=spotify
      x-spotify-docs-endpoint-name: Get a Playlist
      x-spotify-policy-list:
        $ref: "#/components/x-spotify-policy/metadataPolicyList"
    put:
      description: |
        Change a playlist's name and public/private state. (The user must, of
        course, own the playlist.)
      operationId: change-playlist-details
      parameters:
        - $ref: "#/components/parameters/PathPlaylistId"
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties: true
              example:
                description: Updated playlist description
                name: Updated Playlist Name
                public: false
              properties:
                collaborative:
                  description: |
                    If `true`, the playlist will become collaborative and other users will be able to modify the playlist in their Spotify client. <br/>
                    _**Note**: You can only set `collaborative` to `true` on non-public playlists._
                  type: boolean
                description:
                  description: |
                    Value for playlist description as displayed in Spotify Clients and in the Web API.
                  type: string
                name:
                  description: |
                    The new name for the playlist, for example `"My New Playlist Title"`
                  type: string
                public:
                  description: |
                    If `true` the playlist will be public, if `false` it will be private.
                  type: boolean
              type: object
      responses:
        "200":
          description: Playlist updated
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
      security:
        - oauth_2_0:
            - playlist-modify-public
            - playlist-modify-private
      summary: |
        Change Playlist Details
      tags:
        - Playlists
        - Library
      x-spotify-docs-console-url: /console/put-playlist/
      x-spotify-docs-endpoint-name: Change a Playlist's Details
    x-spotify-docs-category: Playlists
    x-spotify-docs-display-name: playlist
  "/playlists/{playlist_id}/followers":
    delete:
      description: |
        Remove the current user as a follower of a playlist.
      operationId: unfollow-playlist
      parameters:
        - $ref: "#/components/parameters/PathPlaylistId"
      responses:
        "200":
[...]
