-e libs/experimental
-e libs/langchain
-e libs/core
-e libs/community
pydantic<2
autodoc_pydantic
myst_parser
nbsphinx
sphinx>=5
sphinx-autobuild
sphinx-typlog-theme
sphinx-panels
toml
myst_nb
sphinx_copybutton
pydata-sphinx-theme
