autodoc_pydantic>=2,<3
sphinx>=8,<9
sphinx-autobuild>=2024
sphinx-design
sphinx-copybutton
sphinxcontrib-googleanalytics
pydata-sphinx-theme>=0.15
myst-parser>=3
myst-nb>=1.1.1
toml>=0.10.2
pyyaml
beautifulsoup4
