-e ../libs/langchain
-e ../libs/community
-e ../libs/core
-e ../libs/experimental
-e ../libs/text-splitters
langchain-cohere
langchain-astradb
langchain-nvidia-ai-endpoints
langchain-elasticsearch
langchain-postgres
urllib3==1.26.18
