-e ../libs/langchain
-e ../libs/community
-e ../libs/core
-e ../libs/experimental
-e ../libs/text-splitters
langchain-google-vertexai
langchain-google-genai
langchain-google-community
langchain-cohere
langchain-aws
langchain-astradb
langchain-nvidia-ai-endpoints
langchain-nvidia-trt
langchain-elasticsearch
langchain-postgres
urllib3==1.26.18
