# openai
# your api key from https://platform.openai.com/account/api-keys
OPENAI_API_KEY=your_openai_api_key_here


# searchapi
# your api key from https://www.searchapi.io/
SEARCHAPI_API_KEY=your_searchapi_api_key_here


# astra db
ASTRA_DB_API_ENDPOINT=https://your_astra_db_id-your_region.apps.astra.datastax.com
ASTRA_DB_APPLICATION_TOKEN=AstraCS:your_astra_db_application_token
# ASTRA_DB_KEYSPACE=your_astra_db_namespace


# cassandra
CASSANDRA_CONTACT_POINTS=127.0.0.1
# CASSANDRA_USERNAME=your_cassandra_username
# CASSANDRA_PASSWORD=your_cassandra_password
# CASSANDRA_KEYSPACE=your_cassandra_keyspace


# pinecone
# your api key from left menu "API Keys" in https://app.pinecone.io
PINECONE_API_KEY=your_pinecone_api_key_here
# your pinecone environment from left menu "API Keys" in https://app.pinecone.io
PINECONE_ENVIRONMENT=us-west4-gcp


# jira
# your api token from https://id.atlassian.com/manage-profile/security/api-tokens
# more details here: https://confluence.atlassian.com/enterprise/using-personal-access-tokens-1026032365.html
# JIRA_API_TOKEN=your_jira_api_token_here
# JIRA_USERNAME=your_jira_username_here
# JIRA_INSTANCE_URL=your_jira_instance_url_here
# JIRA_CLOUD=True


# clickup
CLICKUP_ACCESS_TOKEN=your_clickup_access_token


# power bi
# sign in to azure in order to authenticate with DefaultAzureCredentials
# details here https://learn.microsoft.com/en-us/dotnet/api/azure.identity.defaultazurecredential?view=azure-dotnet
POWERBI_DATASET_ID=_powerbi_dataset_id_here
POWERBI_TABLE_NAME=_test_table_name_here
POWERBI_NUMROWS=_num_rows_in_your_test_table


# MongoDB Atlas Vector Search
MONGODB_ATLAS_URI=your_mongodb_atlas_connection_string


# Kinetica
KINETICA_URL = _db_connection_url_here
KINETICA_USER = _login_user_here
KINETICA_PASSWD = _password_here


# Upstash Vector
# Create two Upstash Vector instances. First one should have dimensionality of 10.
# Second one should be created with embedding model BAA/bge-small-en-V1.5
UPSTASH_VECTOR_URL=your_upstash_vector_url
UPSTASH_VECTOR_TOKEN=your_upstash_vector_token
UPSTASH_VECTOR_URL_EMBEDDING=your_upstash_vector_embedding_url
UPSTASH_VECTOR_TOKEN_EMBEDDING=your_upstash_vector_embedding_token