interactions:
- request:
    body: ''
    headers:
      authorization:
      - authorization-DUMMY
      upstash-telemetry-platform:
      - unknown
      upstash-telemetry-runtime:
      - python@v3.9.19
      upstash-telemetry-sdk:
      - upstash-vector-py@v0.3.1
    method: POST
    uri: https://fond-mutt-96644-eu1-vector.upstash.io/reset
  response:
    content: "{\n  \"result\" : \"Success\"\n}"
    headers:
      Content-Type:
      - application/json
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - authorization-DUMMY
      upstash-telemetry-platform:
      - unknown
      upstash-telemetry-runtime:
      - python@v3.9.19
      upstash-telemetry-sdk:
      - upstash-vector-py@v0.3.1
    method: POST
    uri: https://thankful-dane-25695-eu1-vector.upstash.io/reset
  response:
    content: "{\n  \"result\" : \"Success\"\n}"
    headers:
      Content-Type:
      - application/json
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - authorization-DUMMY
      upstash-telemetry-platform:
      - unknown
      upstash-telemetry-runtime:
      - python@v3.9.19
      upstash-telemetry-sdk:
      - upstash-vector-py@v0.3.1
    method: POST
    uri: https://fond-mutt-96644-eu1-vector.upstash.io/info
  response:
    content: "{\n  \"result\" : {\n    \"vectorCount\" : 0,\n    \"pendingVectorCount\"
      : 0,\n    \"indexSize\" : 0,\n    \"dimension\" : 10,\n    \"similarityFunction\"
      : \"COSINE\"\n  }\n}"
    headers:
      Content-Type:
      - application/json
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - authorization-DUMMY
      upstash-telemetry-platform:
      - unknown
      upstash-telemetry-runtime:
      - python@v3.9.19
      upstash-telemetry-sdk:
      - upstash-vector-py@v0.3.1
    method: POST
    uri: https://thankful-dane-25695-eu1-vector.upstash.io/info
  response:
    content: "{\n  \"result\" : {\n    \"vectorCount\" : 0,\n    \"pendingVectorCount\"
      : 0,\n    \"indexSize\" : 0,\n    \"dimension\" : 384,\n    \"similarityFunction\"
      : \"COSINE\"\n  }\n}"
    headers:
      Content-Type:
      - application/json
    status_code: 200
- request:
    body: '[{"id": "deb53135-eb87-4d69-8e59-7243bce077dc", "vector": [1.0, 1.0, 1.0,
      1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0], "metadata": {"page": "0", "text": "foo"}},
      {"id": "6cc5fbe9-3982-4911-98b8-ff9490c0cf42", "vector": [1.0, 1.0, 1.0, 1.0,
      1.0, 1.0, 1.0, 1.0, 1.0, 1.0], "metadata": {"page": "1", "text": "bar"}}, {"id":
      "b1826c53-2a31-4853-840d-91f038398f8d", "vector": [1.0, 1.0, 1.0, 1.0, 1.0,
      1.0, 1.0, 1.0, 1.0, 2.0], "metadata": {"page": "2", "text": "baz"}}]'
    headers:
      authorization:
      - authorization-DUMMY
      content-type:
      - application/json
      upstash-telemetry-platform:
      - unknown
      upstash-telemetry-runtime:
      - python@v3.9.19
      upstash-telemetry-sdk:
      - upstash-vector-py@v0.3.1
    method: POST
    uri: https://fond-mutt-96644-eu1-vector.upstash.io/upsert
  response:
    content: "{\n  \"result\" : \"Success\"\n}"
    headers:
      Content-Type:
      - application/json
    status_code: 200
[...]
- request:
    body: '{"topK": 1, "includeVectors": false, "includeMetadata": true, "filter":
      "", "vector": [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0]}'
    headers:
      authorization:
      - authorization-DUMMY
      content-type:
      - application/json
      upstash-telemetry-platform:
      - unknown
      upstash-telemetry-runtime:
      - python@v3.9.19
      upstash-telemetry-sdk:
      - upstash-vector-py@v0.3.1
    method: POST
    uri: https://fond-mutt-96644-eu1-vector.upstash.io/query
  response:
    content: "{\n  \"result\" : [ {\n    \"id\" : \"deb53135-eb87-4d69-8e59-7243bce077dc\",\n
      \   \"score\" : 1.0,\n    \"metadata\" : {\"page\":\"0\",\"text\":\"foo\"}\n
      \ } ]\n}"
    headers:
      Content-Type:
      - application/json
    status_code: 200
version: 1
