interactions:
- request:
    body: ''
    headers:
      authorization:
      - authorization-DUMMY
      upstash-telemetry-platform:
      - unknown
      upstash-telemetry-runtime:
      - python@v3.9.19
      upstash-telemetry-sdk:
      - upstash-vector-py@v0.3.1
    method: POST
    uri: https://fond-mutt-96644-eu1-vector.upstash.io/reset
  response:
    body:
      string: "{\n  \"result\" : \"Success\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - authorization-DUMMY
      upstash-telemetry-platform:
      - unknown
      upstash-telemetry-runtime:
      - python@v3.9.19
      upstash-telemetry-sdk:
      - upstash-vector-py@v0.3.1
    method: POST
    uri: https://thankful-dane-25695-eu1-vector.upstash.io/reset
  response:
    body:
      string: "{\n  \"result\" : \"Success\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - authorization-DUMMY
      upstash-telemetry-platform:
      - unknown
      upstash-telemetry-runtime:
      - python@v3.9.19
      upstash-telemetry-sdk:
      - upstash-vector-py@v0.3.1
    method: POST
    uri: https://fond-mutt-96644-eu1-vector.upstash.io/info
  response:
    body:
      string: "{\n  \"result\" : {\n    \"vectorCount\" : 0,\n    \"pendingVectorCount\"
        : 0,\n    \"indexSize\" : 0,\n    \"dimension\" : 10,\n    \"similarityFunction\"
        : \"COSINE\"\n  }\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - authorization-DUMMY
      upstash-telemetry-platform:
      - unknown
      upstash-telemetry-runtime:
      - python@v3.9.19
      upstash-telemetry-sdk:
      - upstash-vector-py@v0.3.1
    method: POST
    uri: https://thankful-dane-25695-eu1-vector.upstash.io/info
  response:
    body:
      string: "{\n  \"result\" : {\n    \"vectorCount\" : 0,\n    \"pendingVectorCount\"
        : 0,\n    \"indexSize\" : 0,\n    \"dimension\" : 384,\n    \"similarityFunction\"
        : \"COSINE\"\n  }\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '[{"id": "e087e36e-79c3-4a54-bd2a-97626f9a6672", "vector": [1.0, 1.0, 1.0,
      1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0], "metadata": {"text": "foo"}}, {"id": "864b4e8d-7b2b-4e3b-8295-9bc3d8a3e84b",
      "vector": [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0], "metadata": {"text":
      "bar"}}, {"id": "ea52dce9-09f5-44a3-aa2a-17c6074f0a93", "vector": [1.0, 1.0,
      1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 2.0], "metadata": {"text": "baz"}}]'
    headers:
      authorization:
      - authorization-DUMMY
      content-type:
      - application/json
      upstash-telemetry-platform:
      - unknown
      upstash-telemetry-runtime:
      - python@v3.9.19
      upstash-telemetry-sdk:
      - upstash-vector-py@v0.3.1
    method: POST
    uri: https://fond-mutt-96644-eu1-vector.upstash.io/upsert
  response:
    body:
      string: "{\n  \"result\" : \"Success\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"topK": 1, "includeVectors": false, "includeMetadata": true, "filter":
      "", "vector": [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0]}'
    headers:
      authorization:
      - authorization-DUMMY
      content-type:
      - application/json
      upstash-telemetry-platform:
      - unknown
      upstash-telemetry-runtime:
      - python@v3.9.19
      upstash-telemetry-sdk:
      - upstash-vector-py@v0.3.1
    method: POST
    uri: https://fond-mutt-96644-eu1-vector.upstash.io/query
  response:
    body:
      string: "{\n  \"result\" : [ {\n    \"id\" : \"e087e36e-79c3-4a54-bd2a-97626f9a6672\",\n
        \   \"score\" : 1.0,\n    \"metadata\" : {\"text\":\"foo\"}\n  } ]\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
