interactions:
- request:
    body: ''
    headers:
      authorization:
      - authorization-DUMMY
      upstash-telemetry-platform:
      - unknown
      upstash-telemetry-runtime:
      - python@v3.9.19
      upstash-telemetry-sdk:
      - upstash-vector-py@v0.3.1
    method: POST
    uri: https://fond-mutt-96644-eu1-vector.upstash.io/reset
  response:
    content: "{\n  \"result\" : \"Success\"\n}"
    headers:
      Content-Type:
      - application/json
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - authorization-DUMMY
      upstash-telemetry-platform:
      - unknown
      upstash-telemetry-runtime:
      - python@v3.9.19
      upstash-telemetry-sdk:
      - upstash-vector-py@v0.3.1
    method: POST
    uri: https://thankful-dane-25695-eu1-vector.upstash.io/reset
  response:
    content: "{\n  \"result\" : \"Success\"\n}"
    headers:
      Content-Type:
      - application/json
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - authorization-DUMMY
      upstash-telemetry-platform:
      - unknown
      upstash-telemetry-runtime:
      - python@v3.9.19
      upstash-telemetry-sdk:
      - upstash-vector-py@v0.3.1
    method: POST
    uri: https://fond-mutt-96644-eu1-vector.upstash.io/info
  response:
    content: "{\n  \"result\" : {\n    \"vectorCount\" : 0,\n    \"pendingVectorCount\"
      : 0,\n    \"indexSize\" : 0,\n    \"dimension\" : 10,\n    \"similarityFunction\"
      : \"COSINE\"\n  }\n}"
    headers:
      Content-Type:
      - application/json
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - authorization-DUMMY
      upstash-telemetry-platform:
      - unknown
      upstash-telemetry-runtime:
      - python@v3.9.19
      upstash-telemetry-sdk:
      - upstash-vector-py@v0.3.1
    method: POST
    uri: https://thankful-dane-25695-eu1-vector.upstash.io/info
  response:
    content: "{\n  \"result\" : {\n    \"vectorCount\" : 0,\n    \"pendingVectorCount\"
      : 0,\n    \"indexSize\" : 0,\n    \"dimension\" : 384,\n    \"similarityFunction\"
      : \"COSINE\"\n  }\n}"
    headers:
      Content-Type:
      - application/json
    status_code: 200
- request:
    body: '[{"id": "032c7822-ac85-4aa3-ad58-9c8f86d3a36e", "vector": [1.0, 1.0, 1.0,
      1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0], "metadata": {"text": "foo"}}, {"id": "6e6e5ef2-f5d7-40ca-925b-2a78a451b872",
      "vector": [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0], "metadata": {"text":
      "bar"}}, {"id": "2f06ebc7-8d72-4861-909e-1e4bf26a1edc", "vector": [1.0, 1.0,
      1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 2.0], "metadata": {"text": "baz"}}]'
    headers:
      authorization:
      - authorization-DUMMY
      content-type:
      - application/json
      upstash-telemetry-platform:
      - unknown
      upstash-telemetry-runtime:
      - python@v3.9.19
      upstash-telemetry-sdk:
      - upstash-vector-py@v0.3.1
    method: POST
    uri: https://fond-mutt-96644-eu1-vector.upstash.io/upsert
  response:
    content: "{\n  \"result\" : \"Success\"\n}"
    headers:
      Content-Type:
      - application/json
    status_code: 200
[...]
- request:
    body: '{"topK": 20, "includeVectors": true, "includeMetadata": true, "filter":
      "", "vector": [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0]}'
    headers:
      authorization:
      - authorization-DUMMY
      content-type:
      - application/json
      upstash-telemetry-platform:
      - unknown
      upstash-telemetry-runtime:
      - python@v3.9.19
      upstash-telemetry-sdk:
      - upstash-vector-py@v0.3.1
    method: POST
    uri: https://fond-mutt-96644-eu1-vector.upstash.io/query
  response:
    content: "{\n  \"result\" : [ {\n    \"id\" : \"032c7822-ac85-4aa3-ad58-9c8f86d3a36e\",\n
      \   \"score\" : 1.0,\n    \"vector\" : [ 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0,
      1.0, 1.0, 0.0 ],\n    \"metadata\" : {\"text\":\"foo\"}\n  }, {\n    \"id\"
      : \"6e6e5ef2-f5d7-40ca-925b-2a78a451b872\",\n    \"score\" : 0.97434163,\n    \"vector\"
      : [ 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0 ],\n    \"metadata\" :
      {\"text\":\"bar\"}\n  }, {\n    \"id\" : \"2f06ebc7-8d72-4861-909e-1e4bf26a1edc\",\n
      \   \"score\" : 0.91602516,\n    \"vector\" : [ 1.0, 1.0, 1.0, 1.0, 1.0, 1.0,
      1.0, 1.0, 1.0, 2.0 ],\n    \"metadata\" : {\"text\":\"baz\"}\n  } ]\n}"
    headers:
      Content-Type:
      - application/json
    status_code: 200
version: 1
