interactions:
- request:
    body: ''
    headers:
      authorization:
      - authorization-DUMMY
      upstash-telemetry-platform:
      - unknown
      upstash-telemetry-runtime:
      - python@v3.9.19
      upstash-telemetry-sdk:
      - upstash-vector-py@v0.3.1
    method: POST
    uri: https://fond-mutt-96644-eu1-vector.upstash.io/reset
  response:
    body:
      string: "{\n  \"result\" : \"Success\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - authorization-DUMMY
      upstash-telemetry-platform:
      - unknown
      upstash-telemetry-runtime:
      - python@v3.9.19
      upstash-telemetry-sdk:
      - upstash-vector-py@v0.3.1
    method: POST
    uri: https://thankful-dane-25695-eu1-vector.upstash.io/reset
  response:
    body:
      string: "{\n  \"result\" : \"Success\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - authorization-DUMMY
      upstash-telemetry-platform:
      - unknown
      upstash-telemetry-runtime:
      - python@v3.9.19
      upstash-telemetry-sdk:
      - upstash-vector-py@v0.3.1
    method: POST
    uri: https://fond-mutt-96644-eu1-vector.upstash.io/info
  response:
    body:
      string: "{\n  \"result\" : {\n    \"vectorCount\" : 0,\n    \"pendingVectorCount\"
        : 0,\n    \"indexSize\" : 0,\n    \"dimension\" : 10,\n    \"similarityFunction\"
        : \"COSINE\"\n  }\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - authorization-DUMMY
      upstash-telemetry-platform:
      - unknown
      upstash-telemetry-runtime:
      - python@v3.9.19
      upstash-telemetry-sdk:
      - upstash-vector-py@v0.3.1
    method: POST
    uri: https://thankful-dane-25695-eu1-vector.upstash.io/info
  response:
    body:
      string: "{\n  \"result\" : {\n    \"vectorCount\" : 0,\n    \"pendingVectorCount\"
        : 0,\n    \"indexSize\" : 0,\n    \"dimension\" : 384,\n    \"similarityFunction\"
        : \"COSINE\"\n  }\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '[{"id": "c91b9d1b-4b1e-4223-bf88-5a6711bd9648", "data": "penguin", "metadata":
      {"topic": "bird", "text": "penguin"}}, {"id": "baf22a55-e3b8-47f1-a43a-c5c6eb41d53d",
      "data": "albatros", "metadata": {"topic": "bird", "text": "albatros"}}, {"id":
      "0c1f7416-625e-4d19-b18b-79e229fdca42", "data": "beethoven", "metadata": {"topic":
      "composer", "text": "beethoven"}}, {"id": "ec613f2b-2bb8-430a-88bf-7ed374c201b1",
      "data": "rachmaninoff", "metadata": {"topic": "composer", "text": "rachmaninoff"}}]'
    headers:
      authorization:
      - authorization-DUMMY
      content-type:
      - application/json
      upstash-telemetry-platform:
      - unknown
      upstash-telemetry-runtime:
      - python@v3.9.19
      upstash-telemetry-sdk:
      - upstash-vector-py@v0.3.1
    method: POST
    uri: https://thankful-dane-25695-eu1-vector.upstash.io/upsert-data
  response:
    body:
      string: "{\n  \"result\" : \"Success\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"topK": 2, "includeVectors": false, "includeMetadata": true, "filter":
      "", "data": "eagle"}'
    headers:
      authorization:
      - authorization-DUMMY
      content-type:
      - application/json
      upstash-telemetry-platform:
      - unknown
      upstash-telemetry-runtime:
      - python@v3.9.19
      upstash-telemetry-sdk:
      - upstash-vector-py@v0.3.1
    method: POST
    uri: https://thankful-dane-25695-eu1-vector.upstash.io/query-data
  response:
    body:
      string: "{\n  \"result\" : [ {\n    \"id\" : \"c91b9d1b-4b1e-4223-bf88-5a6711bd9648\",\n
        \   \"score\" : 0.8220105,\n    \"metadata\" : {\"topic\":\"bird\",\"text\":\"penguin\"}\n
        \ }, {\n    \"id\" : \"baf22a55-e3b8-47f1-a43a-c5c6eb41d53d\",\n    \"score\"
        : 0.7761154,\n    \"metadata\" : {\"topic\":\"bird\",\"text\":\"albatros\"}\n
        \ } ]\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"topK": 2, "includeVectors": false, "includeMetadata": true, "filter":
      "", "data": "mozart"}'
    headers:
      authorization:
      - authorization-DUMMY
      content-type:
      - application/json
      upstash-telemetry-platform:
      - unknown
      upstash-telemetry-runtime:
      - python@v3.9.19
      upstash-telemetry-sdk:
      - upstash-vector-py@v0.3.1
    method: POST
    uri: https://thankful-dane-25695-eu1-vector.upstash.io/query-data
  response:
    body:
      string: "{\n  \"result\" : [ {\n    \"id\" : \"0c1f7416-625e-4d19-b18b-79e229fdca42\",\n
        \   \"score\" : 0.88179696,\n    \"metadata\" : {\"topic\":\"composer\",\"text\":\"beethoven\"}\n
        \ }, {\n    \"id\" : \"ec613f2b-2bb8-430a-88bf-7ed374c201b1\",\n    \"score\"
        : 0.84151983,\n    \"metadata\" : {\"topic\":\"composer\",\"text\":\"rachmaninoff\"}\n
        \ } ]\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
