interactions:
- request:
    body: ''
    headers:
      authorization:
      - authorization-DUMMY
      upstash-telemetry-platform:
      - unknown
      upstash-telemetry-runtime:
      - python@v3.9.19
      upstash-telemetry-sdk:
      - upstash-vector-py@v0.3.1
    method: POST
    uri: https://fond-mutt-96644-eu1-vector.upstash.io/reset
  response:
    content: "{\n  \"result\" : \"Success\"\n}"
    headers:
      Content-Type:
      - application/json
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - authorization-DUMMY
      upstash-telemetry-platform:
      - unknown
      upstash-telemetry-runtime:
      - python@v3.9.19
      upstash-telemetry-sdk:
      - upstash-vector-py@v0.3.1
    method: POST
    uri: https://thankful-dane-25695-eu1-vector.upstash.io/reset
  response:
    content: "{\n  \"result\" : \"Success\"\n}"
    headers:
      Content-Type:
      - application/json
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - authorization-DUMMY
      upstash-telemetry-platform:
      - unknown
      upstash-telemetry-runtime:
      - python@v3.9.19
      upstash-telemetry-sdk:
      - upstash-vector-py@v0.3.1
    method: POST
    uri: https://fond-mutt-96644-eu1-vector.upstash.io/info
  response:
    content: "{\n  \"result\" : {\n    \"vectorCount\" : 0,\n    \"pendingVectorCount\"
      : 0,\n    \"indexSize\" : 0,\n    \"dimension\" : 10,\n    \"similarityFunction\"
      : \"COSINE\"\n  }\n}"
    headers:
      Content-Type:
      - application/json
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - authorization-DUMMY
      upstash-telemetry-platform:
      - unknown
      upstash-telemetry-runtime:
      - python@v3.9.19
      upstash-telemetry-sdk:
      - upstash-vector-py@v0.3.1
    method: POST
    uri: https://thankful-dane-25695-eu1-vector.upstash.io/info
  response:
    content: "{\n  \"result\" : {\n    \"vectorCount\" : 0,\n    \"pendingVectorCount\"
      : 0,\n    \"indexSize\" : 0,\n    \"dimension\" : 384,\n    \"similarityFunction\"
      : \"COSINE\"\n  }\n}"
    headers:
      Content-Type:
      - application/json
    status_code: 200
- request:
    body: '[{"id": "5121e95d-276d-44fe-9287-a092ae09b6ea", "vector": [1.0, 1.0, 1.0,
      1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0], "metadata": {"page": "0", "text": "foo"}},
      {"id": "4fca424a-d7e8-4ebe-a298-0cf772a461e1", "vector": [1.0, 1.0, 1.0, 1.0,
      1.0, 1.0, 1.0, 1.0, 1.0, 1.0], "metadata": {"page": "1", "text": "bar"}}, {"id":
      "e102bc06-b921-4e93-921e-c63e03953126", "vector": [1.0, 1.0, 1.0, 1.0, 1.0,
      1.0, 1.0, 1.0, 1.0, 2.0], "metadata": {"page": "2", "text": "baz"}}]'
    headers:
      authorization:
      - authorization-DUMMY
      content-type:
      - application/json
      upstash-telemetry-platform:
      - unknown
      upstash-telemetry-runtime:
      - python@v3.9.19
      upstash-telemetry-sdk:
      - upstash-vector-py@v0.3.1
    method: POST
    uri: https://fond-mutt-96644-eu1-vector.upstash.io/upsert
  response:
    content: "{\n  \"result\" : \"Success\"\n}"
    headers:
      Content-Type:
      - application/json
    status_code: 200
[...]
- request:
    body: '{"topK": 1, "includeVectors": false, "includeMetadata": true, "filter":
      "", "vector": [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0]}'
    headers:
      authorization:
      - authorization-DUMMY
      content-type:
      - application/json
      upstash-telemetry-platform:
      - unknown
      upstash-telemetry-runtime:
      - python@v3.9.19
      upstash-telemetry-sdk:
      - upstash-vector-py@v0.3.1
    method: POST
    uri: https://fond-mutt-96644-eu1-vector.upstash.io/query
  response:
    content: "{\n  \"result\" : [ {\n    \"id\" : \"5121e95d-276d-44fe-9287-a092ae09b6ea\",\n
      \   \"score\" : 1.0,\n    \"metadata\" : {\"page\":\"0\",\"text\":\"foo\"}\n
      \ } ]\n}"
    headers:
      Content-Type:
      - application/json
    status_code: 200
version: 1
