name: linkcheck

on:
  push:
    branches: [master]
  pull_request:

env:
  POETRY_VERSION: "1.3.1"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.11"
    steps:
      - uses: actions/checkout@v3
      - name: Install poetry
        run: |
          pipx install poetry==$POETRY_VERSION
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: poetry
      - name: Install dependencies
        run: |
          poetry install --with docs
      - name: Build the docs
        run: |
          make docs_build
      - name: Analyzing the docs with linkcheck
        run: |
          make docs_linkcheck
