interactions:
- request:
    body: '{}'
    headers:
      Api-Key:
      - f5fa007e-a5f1-4214-9f9f-033e96eb5093
      Content-Type:
      - application/json
    method: POST
    uri: https://langchain-test-index-f0d44e6.svc.gcp-starter.pinecone.io/describe_index_stats
  response:
    body:
      string: '{"namespaces":{},"dimension":1536,"indexFullness":0,"totalVectorCount":0}'
    headers:
      content-type:
      - application/json
      grpc-status:
      - '0'
      x-pinecone-request-latency-ms:
      - '27'
    status:
      code: 200
      message: OK
version: 1
